h1{
	color: blue;
	font-size: 100px;
}
section {
  padding: 25px 0 35px;
  background: #fff;
  height: 700px;
}
.container {
  font-size: 60px;
}
.navbar-brand img{
	margin-top: -15px;
	height: 50px;
}
.navbar .navbar-default{
	margin-bottom: 0px;
	border: 0px;
}
