<html>
	<head>
		
	</head>
	<body>
		<form action="/upload" enctype="multipart/form-data" method="post">
			<label for="title">Add a title:</label>
			<input name="title" type="text" /><br><br>
			<input multiple="multiple" name="image" type="file" /><br><br>
			<input type="submit" value="Upload" />
		</form>
		<div>
			<img src="<%= img  %>" alt=""> 
		</div>
	</body>
</html>