<link rel="stylesheet" href="css/shared/footer/footer_style.css"/>

<footer class="footer-table">
    <div class="footer-table-cell">
        <!-- Email and Links -->
        <div>
            <a href="https://www.facebook.com/hackNTU" target="_blank"><i id="footer-fb-icon" class="fa fa-facebook-square" style="font-size: 1.5em"></i></a>
            <a href="https://www.youtube.com/watch?v=w4xjxO2crp4" target="_blank"><i id="footer-youtube-icon" class="fa fa-youtube-play" style="font-size: 1.5em"></i></a>
            <i class="fa fa-envelope" style="font-size: 1.5em"></i>
            <span>&nbsphackntu@gmail.com</span>
        </div>

        <!-- Copyright -->
        <div>
            <span>Copyright</span>
            <i class="fa fa-copyright"></i>
            <span>2015&nbspHackNTU&nbspAll&nbspRight&nbspReserved.</span>
        </div>

    </div>
</footer>