<link rel="stylesheet" href="css/shared/footer/footer_style.css"/>

<footer class="footer-table">
    <div class="footer-table-cell">
        <!-- Email -->
        <div>
            <i class="fa fa-envelope-o"></i>
            <span>&nbsphackntu@gmail.com</span>
        </div>

        <!-- Copyright -->
        <div>
            <span>Copyright</span>
            <i class="fa fa-copyright"></i>
            <span>2015&nbspHackNTU&nbspAll&nbspRight&nbspReserved.</span>
        </div>

    </div>
</footer>