<nav class="shadow" style="width: 100%;">
    <img src="imgs/shared/navbar/navbar_top.png" style="width: 100%">
    <div class="table">
        <div class="table-row">
            <!--&lt;!&ndash; Logo &ndash;&gt;-->
            <!--<div class="table-cell">-->
                <!--<img src="imgs/shared/navbar/navbar_logo.png">-->
            <!--</div>-->

            <!-- HackNTU-->
            <div class="table-cell" style="padding-left: 1em; padding-right: 1em;">
                <img src="imgs/shared/navbar/navbar_hackntu.png">
            </div>

            <!-- Tabs -->
            <div class="table-cell" style="width:15%">
                <a href="/">About&nbspUs</a>
            </div>
            <div class="table-cell" style="width:15%">
                <a href="/course">Course</a>
            </div>
            <div class="table-cell" style="width:15%">
                <a href="/community">Community</a>
            </div>
            <div class="table-cell" style="width:15%">
                <a href="/hackathon">Hackathon</a>
            </div>
            <div class="table-cell" style="width:15%">
                <a href="/hackcampus">HackCampus</a>
            </div>
            <div class="table-cell" style="width:100%">
                <i class="fa fa-facebook"></i>
            </div>
        </div>
    </div>
</nav>
