<nav style="width: 100%; z-index: 999;">
    <img src="imgs/shared/navbar/navbar_top.png">
    <div style="display: table;">
        <div style="display: table-row;">
            <div style="display: table-cell; vertical-align: middle; padding: 1em">
                <img src="imgs/shared/navbar/navbar_logo.png">
            </div>

            <div style="display: table-cell; vertical-align: middle; padding: 1em">
                <img src="imgs/shared/navbar/navbar_hackntu.png">
            </div>
        </div>
    </div>

</nav>