<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/shared/navbar/navbar_style.css">

<nav class="nav-table nav-shadow">
    <div class="nav-table-row">
        <div class="nav-table-cell navbar-logo">
            <a href="/">
                <img src="imgs/shared/navbar/navbar_logo.png" style="width: 1.2em">
                <img src="imgs/shared/navbar/navbar_hackntu.png" style="width: 5.6em">
            </a>
        </div>
        <div class="nav-table-cell navbar-page">
            <!--<a href="">About Us</a>-->
            <a href="http://2015.hackntu.com" target="_blank">Hackathon</a>
            <a href="/community">Community</a>
            <a href="/course">Course</a>
            <a href="/hackcampus">HackCampus</a>
        </div>
        <div class="nav-table-cell navbar-link">
            <a href=""><i class="fa fa-facebook-square" style="color: darkgray; font-size: 1.5em"></i></a>
            <a href=""><i class="fa fa-youtube-play" style="color: darkgray; font-size: 1.5em"></i></a>
        </div>
    </div>
</nav>

