<nav class="shadow" style="width: 100%; z-index: 999;">
    <img src="imgs/shared/navbar/navbar_top.png" style="width: 100%">
    <div class="table">
        <div class="table-row">
            <!-- Logo -->
            <div class="table-cell">
                <img src="imgs/shared/navbar/navbar_logo.png">
            </div>

            <!-- HackNTU-->
            <div class="table-cell" style="padding-right: 2.5em">
                <img src="imgs/shared/navbar/navbar_hackntu.png">
            </div>

            <!-- Tabs -->
            <div class="table-cell" style="width:15%">
                About&nbspUs
            </div>
            <div class="table-cell" style="width:15%">
                Course
            </div>
            <div class="table-cell" style="width:15%">
                Community
            </div>
            <div class="table-cell" style="width:15%">
                Hackathon
            </div>
            <div class="table-cell" style="width:15%">
                HackCampus
            </div>
            <div class="table-cell" style="width:100%">
                <i class="fa fa-facebook"></i>
            </div>


        </div>
    </div>
</nav>