<!DOCTYPE html>
<html>
  <head>
    <%- include header%>
  </head>
  <body>
  <div class="wrapper">
      <%- include navbar%>
  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  
  <div style="margin-top:130px;"class="inner-page padd activity">
    <div class = "container">
        <div class="row">
          
          <div class="col-md-12" style="margin-top:40px">
            <div class="col-md-12">
              <img style="align:center;" src="https://farm8.staticflickr.com/7481/15795762810_be6d129eee_c.jpg" width="800" height="534" alt="IMG_4530.JPG">
              <h1 style="font-size:30px;">Origin:</h1>
              <br>
              <p style="font-size:20px;">Hackathon為近年來⾵⾏於國內外知名企業以及一流大學間的創意發想與實踐活動。</p>
              <br>
              <p style="font-size:20px;">然而，包括台大在內，台灣各大專院校卻都沒有提供類似的平台或是活動，能讓創意萌芽、發展。</p>
              <br>
              <p style="font-size:20px;">HackNTU共同創辦人之一的張凱迪，在參加 Yahoo的 Hackday之後，深刻意識到這個問題。因此，憑藉著對⿊客精神的熱愛與使命感，2013 年，在台⼤正式成立HackNTU。</p>
            </div>
            
          </div>

        </div>      
      </div>
    
  </div>





  <%- include footer%>
  </div> 
  </body>
</html>