<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="js/blog.js"></script>
    <script src="/javascripts/jquery.maximage.js"></script>
    <script src="/javascripts/jquery.bxslider.js"></script>
    <script src="/javascripts/jquery.scrollTo.js"></script>

    <!-- Styles -->
    
    <!-- Portfolio CSS -->
    <link rel="stylesheet" href="/stylesheets/prettyPhoto.css" >
    <!-- Custom Less -->
    <link href="/stylesheets/less-style.css" rel="stylesheet">  
    <!-- Custom CSS -->
    <link href="/stylesheets/style 2.css" rel="stylesheet">
    <!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap angular JS -->
    <!-- <script src="/javascripts/UIbootstrap.js"></script> -->
    <!-- Pretty Photo JS -->
    <script src="/javascripts/jquery.prettyPhoto.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="/javascripts/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <!--<script src="/javascripts/html5shiv.js"></script> -->
    <!-- Custom JS -->
    <script src="/javascripts/custom.js"></script>
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });
});
      
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>

    <!-- This is the js for timeline -->
    <script type="text/javascript">
      var GO_LEFT = -1, GO_RIGHT = 1;
      var middle_month;
      var month_array = ['JAN', 'FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];
      function createfunction(){
        var today = new Date();
        var month = today.getMonth() + 1 - 6;
        var calender_parent = document.getElementsByClassName("monthbar");
        middle_month = month;
        for (var i = 0 ; i < 12; i++)
        {
          var elem = document.createElement("div");
          elem.className = "position-" + i ;
          elem.innerHTML = month_array[month - 1];
          elem.onClick = swiftfunction;
          calender_parent.appendChild(elem)
          monthadd(month, 1);
        }
      }
      function swiftfunction() {
        var month = parseInt(getMonth(event.target.innerHTML));
        var move = month - middle_month; // > 0 left, < 0 right
        var direction = move > 0? GO_LEFT: GO_RIGHT;// -1 : left
        if (move == 0)
                return;
        if (move < 0)
          move *= -1;
        else
          move = 1;
        //add buffer
        for (var i = 0; i < move; i++) {
          var position, add_month;
          if (direction == GO_RIGHT) {//go right-> add at 
            position = -1 - i;
            add_month = monthmines(middle_month, 7+ i);
          } else {//go left -> add at right
            position = 12 + i;
            add_month = monthadd(middle_month, 6+ i);
          }
          var elem = document.createElement("div");
          elem.className = "position-" + i ;
          elem.innerHTML = month_array[month - 1];
          elem.onClick = swiftfunction;
          if (direction == GO_RIGHT) {
            calender_parent.insertBefore(elem, calender_parent.childNodes[0]);
          } else {
            calender_parent.insertChild(elem)
          }
        }
        //move
        var children = calender_parent.childNodes;
        for (var i = 0; i < 12 + move; i++) {
          var new_position = direction == GO_RIGHT? i, i - move;
          children[i].className = "position-" + new_position + " swift-animation" + move;
          window.setInterval(function () {children[i].className = "position-" + new_position;}, move * 1000);
        }
        //removebuffer
        for (var i = 0; i < move; i++) {
          if (direction == GO_RIGHT) {
            calender_parent.removeChild(calender_parent.childNodes[0]);
          } else {
            calender_parent.removeChild(calender_parent.childNodes[12]);
          }
        }
        //adjust middle month
        middle_month = month;
      }
      function getMonth(monthString) {
        for (i = 0; i < 12; i++) {
          if (month_array[i] == monthString)
            return i + 1;
        }
        return null;
      }
      function monthadd(cur_month, adder) {
        return (cur_month + adder) % 12;
      }
      function monthmines(cur_month, minus) {
        cur_month = cur_month - minus; 
        while (cur_month <= 0) {
          cur_month + 12;
        }
        return cur_month;
      }
    </script>
    <!-- This is the js for shifting sliders and not yet finish-->
    <script type="text/javascript">
        $(document).ready(function(){


          if (!$('#home').hasClass('static')) {
              var scrolled = $(window).scrollTop();
              $('#home #maximage .mc-image').css({
                  'top': 'auto',
                  'bottom': -(scrolled * 0.7) + 'px'
              });
          }

          $('.bxslider').bxSlider({
              mode: 'horizontal',
              pager: false,
              controls: false,
              auto: true
          });

          $('#maximage').maximage({
              cycleOptions: {
                  fx: 'fade',
                  speed: 1500,
                  prev: '.img-prev',
                  next: '.img-next'
              }
          });

          return this;


          //Fade the .home-wrapper
        var ws = $(window).scrollTop(),
            offset = ws / 2;
        $('.home-wrapper, .fullscreen-controls').css({
            transform: 'translateY(' + offset + 'px)',
            opacity: 1 - (ws / 700)
        });


        windowHeight = $(window).height();
        windowWidth = $(window).width();
        elements = $("#home, #maximage, .mc-cycle, #maximage > .mc-image, #home .pattern");
        elements.css({
            'height': 'auto'
        });
        elements.css({
            'height': windowHeight + "px",
            "max-height": windowHeight + "px"
        });
        if ($('body').hasClass('boxed')) {
            $('#maximage, .bxslider li').css({
                'width': "100%"
            });
        } else {
            $('.bxslider li').css({
                'width': windowWidth + "px"
            });
        }

        });
    </script>

    <!-- This is the js for shifting pictures -->
    <script type="text/javascript">
      function HideContent(d) {
      document.getElementById(d).style.display = "none";
      }
      function ShowContent(d) {
      document.getElementById(d).style.display = "block";
      }
      
      var shiftIndex = 1;      
      function shift(rightLeft){
        shiftIndex = shiftIndex+rightLeft;
        document.getElementById(shiftIndex).style.display = "block";
        
        for (var i = 1; i < 4; i++)
        {
          if (i !== shiftIndex){
            document.getElementById(i).style.display = "none";
          }
        }
        
        if((shiftIndex+rightLeft) === 4) 
          shiftIndex = 0;
        if ((shiftIndex+rightLeft) === 0)
          shiftIndex = 4;   
    }
    </script>
    
    
  </head>

  <body>

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Organization</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" src="images/logo-small.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="/blog">Blog</a></li>
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    <div class="small-triangle"></div>
                    <div class="calender-dropdown" role="calender">
                      <table>
                      <p>2015年 3月</p>
                        <tr>
                          <td>一</td>
                          <td>二</td>
                          <td>三</td>
                          <td>四</td>
                          <td>五</td>
                          <td>六</td>
                          <td>日</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  <!-- <div class = "inner-page padd">
    <div class = "timeline padd">
      <div class = "container" style="width: 100%">
        <div class="row">
          <div class="col-md-12">

            <div class="gray">
              <div class="triangle"></div>  
            </div>

          </div>  


            <div class="monthbar" onload=createfunction()>
            <p>This is month bar</p>
            </div>

            <div class = "test-img">
              <img src="images/2015hackNTU_2.jpg">
            </div>
          
        </div>
      </div>
    </div>
  </div> -->



  <div class="inner-page padd activity">
  <div class="general">
    <div class="container" style="width:100%">

      <div class="row shifting" id = "1" style="display:block">
      <div class="col-md-8 col-sm-8 col-md-offset-2">
        <div>
          <h1>2015年1月</h1>
        </div>
          <!-- General information content -->
          <div class="general-content">
            <!-- Navigation tab -->
            <ul class="nav nav-tabs">
              <!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
              <li class="active"><a href="#tab1" data-toggle="tab">社群小聚</a></li>
              <li><a href="#tab2" data-toggle="tab">工作坊</a></li>
              
            </ul>


            <!-- Tab content -->
            <div class="tab-content">
              <!-- In "id", use the value which you used in above anchor tags -->
              <div class="tab-pane active" id="tab1">
                <!-- Heading -->
                <h5>社群小聚</h5>
                <!-- Paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nitusrpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis.</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimen laoreet justo ullamcorper.</p>
                <!-- List content -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker"></i> 台灣大學新生103</li>
                  <li><i class="fa fa-clock-o"></i> 2015-03-22</li>
                  <li><i class="fa fa-users"></i>HackNTU社員</li>
                  <li><i class="fa fa-book"></i>JavaScript的未來</li>
                  <li><i class="fa fa-facebook-square"></i> Follow HackNTU</li>
                </ul>
              </div> <!--/ tab-pane end --> 
              <div class="tab-pane" id="tab2">
                <!-- heading -->
                <h5>工作坊</h5>
                <!-- Paragraph -->
                <p>HackNTU團隊來到位在加州聖塔芭芭拉的UCSB，參加最先在海灘舉辦的SBHACKS！現場有超過500位來自美國各大學的hackers一起參與這場在加州海灘的黑客盛事。<br>SBHACKS官網: http://www.ucsbhacks.com/<br>Get excited! More than 500 hackers gather together to participate SBHACKS, the first hackathon held on a beach!
                <br>HackNTU is certainly not gonna miss it!</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus variusam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibul interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestiat laoreet justo ullamcorper.</p>
                <!-- Paragraph -->
                <p>ium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
              </div> <!--/ tab-pane end --> 
               
            </div><!--/ Tab content end -->


          </div>
        </div>
        </div>


      <div class="row" div class="row shifting" id = "2" style="display:none">
      <div class="col-md-8 col-sm-8 col-md-offset-2">
        <div>
          <h1>2015年2月</h1>
        </div>
          <!-- General information content -->
          <div class="general-content">
            <!-- Navigation tab -->
            <ul class="nav nav-tabs">
              <!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
              <li class="active"><a href="#tab1" data-toggle="tab">社群小聚</a></li>
              <li><a href="#tab2" data-toggle="tab">工作坊</a></li>
              
            </ul>


            <!-- Tab content -->
            <div class="tab-content">
              <!-- In "id", use the value which you used in above anchor tags -->
              <div class="tab-pane active" id="tab1">
                <!-- Heading -->
                <h5>社群小聚</h5>
                <!-- Paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nitusrpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis.</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimen laoreet justo ullamcorper.</p>
                <!-- List content -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker"></i> 台灣大學新生103</li>
                  <li><i class="fa fa-clock-o"></i> 2015-03-22</li>
                  <li><i class="fa fa-users"></i>HackNTU社員</li>
                  <li><i class="fa fa-book"></i>JavaScript的未來</li>
                  <li><i class="fa fa-facebook-square"></i> Follow HackNTU</li>
                </ul>
              </div> <!--/ tab-pane end --> 
              <div class="tab-pane" id="tab2">
                <!-- heading -->
                <h5>工作坊</h5>
                <!-- Paragraph -->
                <p>HackNTU團隊來到位在加州聖塔芭芭拉的UCSB，參加最先在海灘舉辦的SBHACKS！現場有超過500位來自美國各大學的hackers一起參與這場在加州海灘的黑客盛事。<br>SBHACKS官網: http://www.ucsbhacks.com/<br>Get excited! More than 500 hackers gather together to participate SBHACKS, the first hackathon held on a beach!
                <br>HackNTU is certainly not gonna miss it!</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus variusam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibul interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestiat laoreet justo ullamcorper.</p>
                <!-- Paragraph -->
                <p>ium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
              </div> <!--/ tab-pane end --> 
               
            </div><!--/ Tab content end -->


          </div>
        </div>
        </div>




      <div class="row shifting" id = "3" style="display:none">
      <div class="col-md-8 col-sm-8 col-md-offset-2">
        <div>
          <h1>2015年3月</h1>
        </div>
          <!-- General information content -->
          <div class="general-content">
            <!-- Navigation tab -->
            <ul class="nav nav-tabs">
              <!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
              <li class="active"><a href="#tab1" data-toggle="tab">社群小聚</a></li>
              <li><a href="#tab2" data-toggle="tab">工作坊</a></li>
              
            </ul>


            <!-- Tab content -->
            <div class="tab-content">
              <!-- In "id", use the value which you used in above anchor tags -->
              <div class="tab-pane active" id="tab1">
                <!-- Heading -->
                <h5>社群小聚</h5>
                <!-- Paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nitusrpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis.</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimen laoreet justo ullamcorper.</p>
                <!-- List content -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker"></i> 台灣大學新生103</li>
                  <li><i class="fa fa-clock-o"></i> 2015-03-22</li>
                  <li><i class="fa fa-users"></i>HackNTU社員</li>
                  <li><i class="fa fa-book"></i>JavaScript的未來</li>
                  <li><i class="fa fa-facebook-square"></i> Follow HackNTU</li>
                </ul>
              </div> <!--/ tab-pane end --> 
              <div class="tab-pane" id="tab2">
                <!-- heading -->
                <h5>工作坊</h5>
                <!-- Paragraph -->
                <p>HackNTU團隊來到位在加州聖塔芭芭拉的UCSB，參加最先在海灘舉辦的SBHACKS！現場有超過500位來自美國各大學的hackers一起參與這場在加州海灘的黑客盛事。<br>SBHACKS官網: http://www.ucsbhacks.com/<br>Get excited! More than 500 hackers gather together to participate SBHACKS, the first hackathon held on a beach!
                <br>HackNTU is certainly not gonna miss it!</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus variusam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibul interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestiat laoreet justo ullamcorper.</p>
                <!-- Paragraph -->
                <p>ium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
              </div> <!--/ tab-pane end --> 
               
            </div><!--/ Tab content end -->


          </div>
        </div>
        </div>




      <div class="row shifting" id = "4" style="display:none">
      <div class="col-md-8 col-sm-8 col-md-offset-2">
        <div>
          <h1>2015年4月</h1>
        </div>
          <!-- General information content -->
          <div class="general-content">
            <!-- Navigation tab -->
            <ul class="nav nav-tabs">
              <!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
              <li class="active"><a href="#tab1" data-toggle="tab">社群小聚</a></li>
              <li><a href="#tab2" data-toggle="tab">工作坊</a></li>
              
            </ul>


            <!-- Tab content -->
            <div class="tab-content">
              <!-- In "id", use the value which you used in above anchor tags -->
              <div class="tab-pane active" id="tab1">
                <!-- Heading -->
                <h5>社群小聚</h5>
                <!-- Paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nitusrpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis.</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimen laoreet justo ullamcorper.</p>
                <!-- List content -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker"></i> 台灣大學新生103</li>
                  <li><i class="fa fa-clock-o"></i> 2015-03-22</li>
                  <li><i class="fa fa-users"></i>HackNTU社員</li>
                  <li><i class="fa fa-book"></i>JavaScript的未來</li>
                  <li><i class="fa fa-facebook-square"></i> Follow HackNTU</li>
                </ul>
              </div> <!--/ tab-pane end --> 
              <div class="tab-pane" id="tab2">
                <!-- heading -->
                <h5>工作坊</h5>
                <!-- Paragraph -->
                <p>HackNTU團隊來到位在加州聖塔芭芭拉的UCSB，參加最先在海灘舉辦的SBHACKS！現場有超過500位來自美國各大學的hackers一起參與這場在加州海灘的黑客盛事。<br>SBHACKS官網: http://www.ucsbhacks.com/<br>Get excited! More than 500 hackers gather together to participate SBHACKS, the first hackathon held on a beach!
                <br>HackNTU is certainly not gonna miss it!</p>
                <!-- Paragraph -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus variusam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibul interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestiat laoreet justo ullamcorper.</p>
                <!-- Paragraph -->
                <p>ium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
              </div> <!--/ tab-pane end --> 
               
            </div><!--/ Tab content end -->


          </div>
        </div>
        </div>




          

          <!-- <div class="shifting" id = "1" style="display:block">
            <img src="images/2015hackNTU_2.jpg" alt="" style="width:100%" />
          </div>
          <div class="shifting" id = "2" style="display:none">
            <img src="images/library.jpg" alt="" style="width:100%"/>
          </div>
          <div class="shifting" id = "3" style="display:none">
            <img src="images/2015hackNTU-3-black.jpg" alt="" style="width:100%"/>
          </div>
          <div class="shifting" id = "4" style="display:none">
            <img src="images/hackLCD.jpg" alt="" style="width:100%"/>
          </div> -->

          <div class="fullscreen-controls">
            <a class="img-prev" onclick="shift(-1)"></a>
            <a class="img-next" onclick="shift(1)"></a>
          </div>


        <!-- <div class = "test-img">
          <img src="images/2015hackNTU_2.jpg">
        </div> -->




      </div>
    </div>
  </div>


  <div class="footer padd">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>I am a footer</h1>
            <p>We gather Hackers.</p>
        </div>

          
      </div>
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


    <!-- <div name="Picture1" class="parallax-container" data-parallax="scroll" data-position="top" data-image-src="images/2015hackNTU.jpg" style="height: 650px;"></div>

    <div name="Picture2" class="parallax-container" data-parallax="scroll" data-image-src="images/2015hackNTU_2.jpg" style="height: 650px;"></div>

    <section>
      <div class="container text-left" >
        <h2 id ="title">Hello</h2>
        <ul>
          <li>We</li>
          <li>are</li>
          <li>Hack</li>
          <li>NTU</li>
        </ul>
        <a class="text-right" href="https://www.facebook.com/hackNTU?fref=ts">follow us on Facebook</a>
      </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="images/try_1.jpg" data-natural-width="578" data-natural-height="367" style="height: 650px;"></div> -->

    
    

  </body>
</html>

