<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- link to public/css/ -->
		<link rel="stylesheet" href="/stylesheets/style.css"> <!-- link to public/css/ --> 
		<script src="/javascripts/jquery.min.js"></script> <!-- link to public/javascripts/ -->
		<script src="/javascripts/parallax.min.js"></script> <!-- link to public/javascripts/ -->
    <script src="/js/haha.js"></script> <!-- link to views/js/ -->
	</head>

	<body>

		
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Hackathon</a></li>
              <li><a href="#">Blog</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" src="images/logo.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Organization</a></li>
              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  <div class = "inner-page pad">
    <div class = "about-vedio padd">
      <div class = "container">
        <div class="row">
          <div class="col-md-12">
            <div class="gray">
              <div class="triangle"></div>
              <img src="images/2015hackNTU_2.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





    <!-- <div name="Picture1" class="parallax-container" data-parallax="scroll" data-position="top" data-image-src="images/2015hackNTU.jpg" style="height: 650px;"></div>

    <div name="Picture2" class="parallax-container" data-parallax="scroll" data-image-src="images/2015hackNTU_2.jpg" style="height: 650px;"></div>

    <section>
			<div class="container text-left" >
				<h2 id ="title">Hello</h2>
				<ul>
					<li>We</li>
					<li>are</li>
					<li>Hack</li>
					<li>NTU</li>
				</ul>
				<a class="text-right" href="https://www.facebook.com/hackNTU?fref=ts">follow us on Facebook</a>
			</div>
		</section>

		<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="images/try_1.jpg" data-natural-width="578" data-natural-height="367" style="height: 650px;"></div> -->

		
    

	</body>
</html>

