<!DOCTYPE html>
<html lang="en">
  <script src="js/course.js"></script>
	<%- include header%>
	<body>
		<%- include navbar%>
<!-- <div class="ui move reveal">
  <img class="visible content" src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
  <img class="hidden content" src="https://i.ytimg.com/vi/1WczsQxr3eQ/hqdefault.jpg">
</div>


<div class="ui page dimmer">
  <div class="content">
    <div class="center">Hello</div>
  </div>
</div>


<div class="ui special cards">
  <div class="card">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
  <div class="card">
    <div class="dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
    </div>
    <div class="content">
      <a class="header">Team Hess</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>

  <div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg" class="visible content">
    <img src="https://i.ytimg.com/vi/1WczsQxr3eQ/hqdefault.jpg" class="hidden content">
  </div>
  <div class="content">
    <a class="header">Team Fu &amp; Hess</a>
    <div class="meta">
      <span class="date">Create in Sep 2014</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div> -->
  <script>
	// $('.special.cards .image').dimmer({
	//   on: 'hover'
	// });
  </script>

    <div class="ui segment">
      <div class="ui vertical segment" style="width: 40%; margin: 20px auto;">
        <div class="ui grid" style="border: 2px solid; border-radius: 25px;">
          <div class="row">
            <div class="eight wide column" id="web">
              <div class="ui items">
                <div class="item">
                  <center>
                    <i class="massive laptop icon"></i>
                    <p>&nbsp;<br>Ruby on Rails<br>Web Development<br>網站開發與設計</p>
                  </center>
                </div>
              </div>
            </div>
            <div class="ui vertical divider"></div>
            <div class="eight wide column" id="iot">
              <div class="ui items">
                <div class="item">
                  <center>
                    <i class="massive world icon"></i>
                    <p>&nbsp;<br>IoT<br>Application Development<br>物聯網應用開發</p>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="row">
            <div class="eight wide column" id="app">
              <div class="ui items">
                <div class="item">
                  <center>
                    <i class="massive mobile icon"></i>
                    <p>&nbsp;<br>iOS<br>App Development<br>行動裝置應用程式設計</p>
                  </center>
                </div>
              </div>
            </div>
            <div class="ui vertical divider"></div>
            <div class="eight wide column" id="uiux">
              <div class="ui items">
                <div class="item">
                  <center>
                    <i class="massive users icon"></i>
                    <p>&nbsp;<br>UI/UX Design<br>使用者介面及經驗設計</p>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical segment" style="width: 80%; margin: 40px auto 20px auto;">
        <div class="ui top attached tabular menu">
          <a class="active item" onclick="changeContent(1)" id="syllabus">
            <i class="announcement icon"></i> Syllabus
          </a>
          <a class="item" onclick="changeContent(2)" id="teacher">
            <i class="university icon"></i> Teacher
          </a>
          <a class="item" onclick="changeContent(3)" id="lecture">
            <i class="file text outline icon"></i> Lecture
          </a>
          <a class="item" onclick="changeContent(4)" id="video">
            <i class="film icon"></i> Video
          </a>
          <a class="item" onclick="changeContent(5)" id="comment">
            <i class="comments icon"></i> Discuss
          </a>
        </div>
        <div class="ui bottom attached segment">
          <div id="syllabus_content">
            aaa
          </div>
          <div id="teacher_content">
            bbb
          </div>
          <div id="lecture_content">
            ccc
          </div>
          <div id="video_content">
            ddd
          </div>
          <div id="comment_content">
            eee
          </div>
        </div>
      </div>
      
      </div>



    </div>


		<%- include footer%>
	</body>
</html>