<!DOCTYPE html>
<html lang="en">
	<%- include header%>
	<body>
		<%- include navbar%>

<div class="ui move reveal">
  <img class="visible content" src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
  <img class="hidden content" src="https://i.ytimg.com/vi/1WczsQxr3eQ/hqdefault.jpg">
</div>


<div class="ui page dimmer">
  <div class="content">
    <div class="center">Hello</div>
  </div>
</div>


<div class="ui special cards">
  <div class="card">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
  <div class="card">
    <div class="dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg">
    </div>
    <div class="content">
      <a class="header">Team Hess</a>
      <div class="meta">
        <span class="date">Create in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>

  <div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="http://art.ngfiles.com/images/278000/278678_rennis5_luigi-dick.jpg" class="visible content">
    <img src="https://i.ytimg.com/vi/1WczsQxr3eQ/hqdefault.jpg" class="hidden content">
  </div>
  <div class="content">
    <a class="header">Team Fu &amp; Hess</a>
    <div class="meta">
      <span class="date">Create in Sep 2014</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="users icon"></i>
      2 Members
    </a>
  </div>
</div>
  <script>
	$('.special.cards .image').dimmer({
	  on: 'hover'
	});
  </script>
		<%- include footer%>
	</body>
</html>