<!--     <div style="width:100%; height: 100%; position: relative; z-index: 998">
        <img src="public/images/why/bg.png" style="width: 100%">
    </div>
 -->   
    <!--
    
    -->
    <div style="position: relative; width: 100%; height: 100%; z-index: 999; background-image:url('public/images/why/bg.png');">
        <h1 style="margin-left:5%;">Why we do?</h1> 
        <img src="public/images/why/wall.png" style="position: relative; top: -50%; left: 5%; z-index: -1">
        <img src="public/images/why/hacker.png" style="position: relative; top: -100%; right: -28%; z-index: -1">


        <div style="position: relative; width:100%; bottom: 0px;">
            <!--Role-->
            <div style="text-align: center; ">
                <div style="padding-right: 20%">
                    <div id="bubble4" class="hide">
                        <img src="public/images/why/buble4.png">
                    </div>
                    <div id="bubble3" style="padding-right: 5%" class="hide">
                        <img src="public/images/why/buble3.png">
                    </div>
                    <div id="bubble2" style="padding-right: 10%" class="hide">
                        <img src="public/images/why/buble2.png">
                    </div>
                    <div id="bubble1" style="padding-right: 15%" class="hide">
                        <img src="public/images/why/buble1.png">
                    </div>
                </div>
                <div style="padding-right: 40%">
                    <img src="public/images/why/role.png">
                </div>

            </div>
            <!--Street-->
            <div style="text-align: center">
                <img src="public/images/why/street.png">
            </div>
        </div>
    </div>