<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id = "main">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a class="navbar-brand" style="margin-top: -16px;" href="/">
                  <img alt="Brand"  src="images/logoNew.png">
                  <!-- <span class="sr-only">(current)</span> -->
                </a>
              </li>
             <!--  <li><a href="/activity">Activity </a></li>
              <li><a href="/org">Organization</a></li>
              <li><a href="/project">Projects</a></li> -->
              <li><a href="/project">Course</a></li>
              <li><a href="/project">Meetup</a></li>
              <li><a href="/project">Hackthon</a></li>
              <li><a href="/project">WorkShop</a></li>
              <li><a href="/project">Hack Campus</a></li>
              <li><a href="/project">About Us</a></li>
              <!-- <li><a href="/blog">Blog</a></li> -->
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <!-- <img class="img-responsive" id="calender" src="images/calender.png" alt="" /> -->
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    
                    <div class="calender-dropdown" role="calender">
                    <div class="small-triangle"></div>
                      <!-- ************ where clnd is ***************-->
                      <div class="cal"></div>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
 </nav>