<!DOCTYPE html>
<html>

  <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/clndr.css">
    <link href="/stylesheets/less-style.css" rel="stylesheet"> 
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="js/blog.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <!-- waypoint-a jquery plugin-->
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/waypoints.sticky.js"></script>
    <!-- send ajax to server -->
    <script src="js/bridge.js"></script>
    <script src="js/service.js"></script>
    <!-- construct calender -->
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/moment-2.8.3.js"></script>
    <script src="/javascripts/json2.js"></script>
    <script src="/javascripts/clndr.js"></script>
    <script src="js/calendar.js"></script>
    <!--<script src="/javascripts/grid.js"></script>-->

    <!-- This is the js for calendar dropdown -->
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
      });
    });
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>

    <!-- This is the js for project dropdown -->
    <!--<script>
    $(document).ready(function() {
      $('.project-item-container .dropdown-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.og-expander')
    if ($dd_menu.hasClass('open')) {

          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
      });
    });
    
    </script> -->

    <!--<script type="text/javascript">
      $(document).ready(function(element) {
        element = element !== undefined ? element : "#portfolio";
        $(element).mixitup({
            targetSelector: ".portfolio-item",
            effects: ['fade', 'rotateX'],
            onMixStart: function() {
                $('.portfolio-item').css('height', '');
                $('.portfolio-item').removeClass('og-expanded');
                $('.portfolio-item .og-expander').fadeOut('fast').remove();
            }
        });

        return this;
      });
    </script>    -->
    <!-- send ajax to server -->
    <script src="js/bridge.js"></script>
    <script src="js/service.js"></script>
    <!-- construct calender -->    
    <script src="/javascripts/moment-2.8.3.js"></script>
    <script src="/javascripts/json2.js"></script>
    <script src="/javascripts/clndr.js"></script>
    <script src="js/calendar.js"></script>
    
    <script type="text/javascript">
      function HideContent(d) {
      document.getElementById(d).style.display = "none";
      }
      function ShowContent(d) {
      document.getElementById(d).style.display = "block";
      }

    </script>
    
    <style type="text/css">
      .padd{
      padding: 50px 0;
      }
    </style>
    
    
  </head>

  <body>
  <div class="wrapper">








      <nav class="navbar navbar-default" role="navigation" id = "main">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/activity">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="/org">Organization</a></li>
              <li>
                <a class="navbar-brand" href="/">
                  <img alt="Brand" style = "margin-top:-45px"src="images/logo-small.png">
                </a>
              </li>
              <li><a href="/project">Projects</a></li>
              <!-- <li><a href="/blog">Blog</a></li> -->
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <!-- <img class="img-responsive" id="calender" src="images/calender.png" alt="" /> -->
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    
                    <div class="calender-dropdown" role="calender">
                    <div class="small-triangle"></div>
                      <!-- ************ where clnd is ***************-->
                      <div class="cal"></div>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>   


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->



 <!-- Project Start -->
<section id="portfolio">         
<div class="project padd">
  <div class="container">
    
    <div class="border" style="height:50px"></div>
    <div class="row">








      <!-- <div id="portfolio-items" class="portfolio-grid" data-animate="fadeIn">

          <div class="portfolio-item webdesign video" data-title="Natural Food" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="images/IMG_9030.jpg">
            <div class="portfolio-item-inner">
              <div class="portfolio-image">
                <div class="portfolio-overlay">
                  <div class="portfolio-details">
                    <h3>HackLCD</h3>
                    <h6>We enlights you</h6>
                  </div>
                </div>
                <img src="images/hackLCD-2.jpg" alt="" />
              </div>
            </div>

            <div class="og-expander">
              <div class="og-expander-inner">
                <span class = "og-close"></span>
                <div class="og-fullimg"></div>
                <div class="og-details"></div>
              </div>
            </div>

          </div>


      </div> -->



      <div class="col-md-3 col-sm-6" > 
        <div class="project-item-container">
          
          <div class="img-frame">
            <a class="dropdown-link" style="cursor: pointer">
            
            <img src="images/hackLCD-2.jpg" class="img-responsive" alt=""  onclick="ShowContent(200)" />

          </div>
          
          <div class="project-details">
            
            <h3>HackLCD</h3> </a>
            
            <p>We enlights you.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-item-container">
          <a class="dropdown-link" style="cursor: pointer">
          
          <div class="img-frame">
            
            <img src="images/hackNTU-2.jpg" class="img-responsive" alt="" />
            
            
          </div>
         
          <div class="project-details">
            
            <h3>HackCampus</h3></a>
            
            <p>We change Campus</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-item-container">
          <a class="dropdown-link" style="cursor: pointer">
          
          <div class="img-frame">
            
            <img src="images/2015hackNTU-5.jpg" class="img-responsive" alt="" />
            
            
          </div>
          
          <div class="project-details">
            
            <h3>HackCampus</h3></a>
            
            <p>We change Campus</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-item-container">
          <a class="dropdown-link" style="cursor: pointer">
          
          <div class="img-frame">
            
            <img src="images/hackNTU-4.jpg" class="img-responsive" alt="" />
            
            
          </div>
          
          <div class="project-details">
            
            <h3>HackCampus</h3></a>
            
            <p>We change Campus</p>
            
          </div>
        </div>
      </div>

      


    </div>
    <div class="border" style="height:70px"></div>
  </div>          
</div>
</section> 
<!-- Project End --> 


    <div class="og-expander" style="display:none" id="200">
      <div class="container">
        <div class="row">
          <div class="og-inner">
            <span class = "og-close" onclick="HideContent(200)"></span>
            <div class="col-md-4 col-sm-5">
              <img class="img-responsive img-thumbnail" src="img/shopping/shop-single.jpg" alt="" />
            </div>
            <div class="col-md-8 col-sm-7">
            
              <h3 class="text-justify">HackLCD-台大最酷炫的車宣</h3>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  
                  <div class="item-details">
                    
                    <p class="text-justify">一個月前，HackNTU內部首場Hackathon，主題是行銷HackNTU。「校內車宣很好但不夠特別，如果能讓車宣發光，一定超酷！」Santo興奮地說。於是，五個大男生從零出發，發揮Hacker spirit，努力突破各種技術與成本上的難題。光鮮亮麗的車宣背後，是無數個爆肝的夜晚與trial and error的過程。</p>
                    
                  </div>
                </div>


                <!-- <div class="col-md-10">
                    <div class="background">
                      <img src="images/2015hackNTU.jpg" >
                      <h1 class="title pull-left">HackCampus</h1>
                      <p class="content pull-right">HackCampus是一群相信好的校園環境是由學生打造出來的台大學生團隊。傳統學生組織能解決許多學生的校園問題，但因科技日益進步，出現了許多校園問題是包含資訊層面，導致傳統學生組織在解決這些問題上面臨到一些困境。因此HackCampus聚集許多科技相關背景的學生，並規劃用專案形式解決以下兩點問題：<br />1.解決現有校園內相關問題特別是包含IT部分<br />2.如何讓校內現有IT系統更好<br />藉由解決校內問題以及改善既有系統，提升校園環境。未來Hackcampus將會邀請校內學生一起參與問題解決的過程，以群眾智慧的力量來進行校園改造的一連串專案，並藉由專案的運行讓台大校園環境不斷提升，一起Hack a Better Campus！</p>
                    </div>
                </div> -->



              </div>
            </div>
          </div>
    </div>
    </div>
    </div>

  




  <div class="footer padd">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-6">
          <div class="logo"></div>
            <h1>Join Us Today</h1>
            <form role="form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Your name" />
              </div>
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Your email" />
              </div>
              <button class="btn btn-danger" type="button">Subscribe</button>
            </form>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div> -->
        <div class="col-md-4 col-md-offset-4">
          <div class="logo"></div>
            <h3 style="margin-left:35px">Contact Us</h3>
              
              <table>
              <ul style="margin-left:-40px">
              <li><i class="fa fa-map-marker br-red"></i> <span>National Taiwan University </span></li>
              <div class="clearfix"></div>
              <li><i class="fa fa-envelope-o br-green"></i> <span>hackntu@gmail.com</span></li>
              <div class="clearfix"></div>
              <li><i class = "fa fa-facebook br-blue"></i><span><a href="https://www.facebook.com/hackNTU?fref=ts">HackNTU</a></span></li>
              <div class="clearfix"></div>
              </ul>
              </table>
        </div>


          
      </div>
      <hr />
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


   
    
   </div> 

  </body>
</html>