<!DOCTYPE html>
<html>

  <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="js/blog.js"></script>
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });
});
      
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>
    
    
    
    
  </head>

  <body>

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Organization</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" style = "margin-top:-45px"src="images/logo-small.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="/blog">Blog</a></li>
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <!-- <img class="img-responsive" id="calender" src="images/calender.png" alt="" /> -->
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    <div class="small-triangle"></div>
                    <div class="calender-dropdown" role="calender">
                      <table>
                      <p>2015年 3月</p>
                        <tr>
                          <td>一</td>
                          <td>二</td>
                          <td>三</td>
                          <td>四</td>
                          <td>五</td>
                          <td>六</td>
                          <td>日</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  <div class = "inner-page padd">
    <div class = "about-vedio padd">
      <div class = "container" style="width: 100%">
        <div class="row">
          

            <!-- <div class="gray">
              <div class="triangle"></div>  
            </div>-->
          
          <!-- <video width="100%" height="100%" controls>
                    <source src="images/earth-2.mov" type="video/mp4">
                    </video> -->
            
            <div class="play-the-video">
              <img src="images/2015hackNTU-3-black.jpg">
              <div class="the-button">
              <a class="btn btn-danger" type="button">
              <i class="fa fa-play-circle fa-2x"></i>
              Play the video</a>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="inner-page pad">
    <div class="introduction">
      <div class="container">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">
              <div class="circle one">
                <i class="fa fa-dot-circle-o fa-2x"></i>
              </div>
            </div>

            <div class="col-md-4">
              <div class="circle two">
                <i class="fa fa-lightbulb-o fa-2x"></i>
              </div>
            </div>

            <div class="col-md-4">
              <div class="circle three">
                <i class="fa fa-wrench fa-2x"></i>
              </div>
            </div>

          </div>


          <div class="col-md-12">
            
          </div>
        
        </div>
      </div>
    </div>
  </div>


  <div class="footer padd">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>I am a footer</h1>
            <p>We gather Hackers.</p>
        </div>

          
      </div>
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


    <!-- <div name="Picture1" class="parallax-container" data-parallax="scroll" data-position="top" data-image-src="images/2015hackNTU.jpg" style="height: 650px;"></div>

    <div name="Picture2" class="parallax-container" data-parallax="scroll" data-image-src="images/2015hackNTU_2.jpg" style="height: 650px;"></div>

    <section>
      <div class="container text-left" >
        <h2 id ="title">Hello</h2>
        <ul>
          <li>We</li>
          <li>are</li>
          <li>Hack</li>
          <li>NTU</li>
        </ul>
        <a class="text-right" href="https://www.facebook.com/hackNTU?fref=ts">follow us on Facebook</a>
      </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="images/try_1.jpg" data-natural-width="578" data-natural-height="367" style="height: 650px;"></div> -->

    
    

  </body>
</html>

