<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });
});
      
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>
    <script type="text/javascript">
      var GO_LEFT = -1, GO_RIGHT = 1;
      var middle_month;
      var month_array = ['JAN', 'FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];
      function createfunction(){
        var today = new Date();
        var month = today.getMonth() + 1 - 6;
        var calender_parent = document.getElementsByClassName("monthbar");
        middle_month = month;
        for (var i = 0 ; i < 12; i++)
        {
          var elem = document.createElement("div");
          elem.className = "position-" + i ;
          elem.innerHTML = month_array[month - 1];
          elem.onClick = swiftfunction;
          calender_parent.appendChild(elem)
          monthadd(month, 1);
        }
      }
      function swiftfunction() {
        var month = parseInt(getMonth(event.target.innerHTML));
        var move = month - middle_month; // > 0 left, < 0 right
        var direction = move > 0? GO_LEFT: GO_RIGHT;// -1 : left
        if (move == 0)
                return;
        if (move < 0)
          move *= -1;
        else
          move = 1;
        //add buffer
        for (var i = 0; i < move; i++) {
          var position, add_month;
          if (direction == GO_RIGHT) {//go right-> add at 
            position = -1 - i;
            add_month = monthmines(middle_month, 7+ i);
          } else {//go left -> add at right
            position = 12 + i;
            add_month = monthadd(middle_month, 6+ i);
          }
          var elem = document.createElement("div");
          elem.className = "position-" + i ;
          elem.innerHTML = month_array[month - 1];
          elem.onClick = swiftfunction;
          if (direction == GO_RIGHT) {
            calender_parent.insertBefore(elem, calender_parent.childNodes[0]);
          } else {
            calender_parent.insertChild(elem)
          }
        }
        //move
        var children = calender_parent.childNodes;
        for (var i = 0; i < 12 + move; i++) {
          var new_position = direction == GO_RIGHT? i, i - move;
          children[i].className = "position-" + new_position + " swift-animation" + move;
          window.setInterval(function () {children[i].className = "position-" + new_position;}, move * 1000);
        }
        //removebuffer
        for (var i = 0; i < move; i++) {
          if (direction == GO_RIGHT) {
            calender_parent.removeChild(calender_parent.childNodes[0]);
          } else {
            calender_parent.removeChild(calender_parent.childNodes[12]);
          }
        }
        //adjust middle month
        middle_month = month;
      }
      function getMonth(monthString) {
        for (i = 0; i < 12; i++) {
          if (month_array[i] == monthString)
            return i + 1;
        }
        return null;
      }
      function monthadd(cur_month, adder) {
        return (cur_month + adder) % 12;
      }
      function monthmines(cur_month, minus) {
        cur_month = cur_month - minus; 
        while (cur_month <= 0) {
          cur_month + 12;
        }
        return cur_month;
      }
    </script>

    
    
  </head>

  <body>

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div>
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="/blog">Blog</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" src="images/logo.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Organization</a></li>
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    <div class="small-triangle"></div>
                    <div class="calender-dropdown" role="calender">
                      <table>
                      <p>2015年 3月</p>
                        <tr>
                          <td>一</td>
                          <td>二</td>
                          <td>三</td>
                          <td>四</td>
                          <td>五</td>
                          <td>六</td>
                          <td>日</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  <div class = "inner-page pad">
    <div class = "about-vedio padd">
      <div class = "container" style="width: 100%">
        <div class="row">
          <div class="col-md-12">

            <div class="gray">
              <div class="triangle"></div>  
            </div>

          </div>  


            <div class="monthbar" onload=createfunction()>

            </div>

            <div class = "test-img">
              <img src="images/2015hackNTU_2.jpg">
            </div>
          
          
        </div>
      </div>
    </div>
  </div>

  <div class="inner-page pad">
    <div class="container">
      <div class="row">
        <div class = "test-img">
          <img src="images/2015hackNTU_2.jpg">
        </div>
      </div>
    </div>
  </div>


  <div class="footer padd">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>I am a footer</h1>
            <p>We gather Hackers.</p>
        </div>

          
      </div>
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


    <!-- <div name="Picture1" class="parallax-container" data-parallax="scroll" data-position="top" data-image-src="images/2015hackNTU.jpg" style="height: 650px;"></div>

    <div name="Picture2" class="parallax-container" data-parallax="scroll" data-image-src="images/2015hackNTU_2.jpg" style="height: 650px;"></div>

    <section>
      <div class="container text-left" >
        <h2 id ="title">Hello</h2>
        <ul>
          <li>We</li>
          <li>are</li>
          <li>Hack</li>
          <li>NTU</li>
        </ul>
        <a class="text-right" href="https://www.facebook.com/hackNTU?fref=ts">follow us on Facebook</a>
      </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="images/try_1.jpg" data-natural-width="578" data-natural-height="367" style="height: 650px;"></div> -->

    
    

  </body>
</html>

