<!DOCTYPE html>
<html>

  <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="js/blog.js"></script>
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });
});
      
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>

    <script type="text/javascript">
      function HideContent(d) {
      document.getElementById(d).style.display = "none";
      }
      function ShowContent(d) {
      document.getElementById(d).style.display = "block";
      }
<<<<<<< HEAD
      
=======
      function ReverseDisplay(d) {
      if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
      else { document.getElementById(d).style.display = "none"; }
      }
>>>>>>> imgUpload
      function Print(d){
        for (var i = 0; i < 3; i++){
          if (i==d){
            document.getElementById(i).style.display = "block";
<<<<<<< HEAD
            document.getElementById(i+3).style.color = "#ff9933";
          }
        else {
          document.getElementById(i).style.display = "none";
          document.getElementById(i+3).style.color = "black";
        }
      }
      


      
=======
          }
        else {
          document.getElementById(i).style.display = "none";
        }
      }
      
>>>>>>> imgUpload
    }
    </script>
    
    
    
    
  </head>

  <body>
  <div class="wrapper">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Organization</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" style = "margin-top:-45px"src="images/logo-small.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="/blog">Blog</a></li>
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <!-- <img class="img-responsive" id="calender" src="images/calender.png" alt="" /> -->
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    <div class="small-triangle"></div>
                    <div class="calender-dropdown" role="calender">
                      <table>
                      <p>2015年 3月</p>
                        <tr>
                          <td>一</td>
                          <td>二</td>
                          <td>三</td>
                          <td>四</td>
                          <td>五</td>
                          <td>六</td>
                          <td>日</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  <div class = "inner-page padd">
    <div class = "about-vedio padd">
      <div class = "container">
        <div class="row">
          

            <!-- <div class="gray">
              <div class="triangle"></div>  
            </div>-->
          
          <!-- <video width="100%" height="100%" controls>
                    <source src="images/earth-2.mov" type="video/mp4">
                    </video> -->
            
            <div class="play-the-video">
<<<<<<< HEAD
              <!-- <img src="images/2015hackNTU-3-black.jpg"> -->
              <video width="100%" height = "100%" loop = "true" autoplay = "true">
                <source src="images/earth-2.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag. -->
              </video>
              <div class="the-button">
              <a class="btn btn-danger" type="button">
              <i class="fa fa-play-circle fa-2x"></i>
              Watch the video</a>
=======
              <img src="images/2015hackNTU-3-black.jpg">
              <div class="the-button">
              <a class="btn btn-danger" type="button">
              <i class="fa fa-play-circle fa-2x"></i>
              Play the video</a>
>>>>>>> imgUpload
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>

<<<<<<< HEAD
  <div class="inner-page padd">
=======
  <div class="inner-page pad">
>>>>>>> imgUpload
    <div class="introduction">
      <div class="container">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">
<<<<<<< HEAD
              <div class="circle one" id = "3" onclick="Print(0)" >
                <i class="fa fa-dot-circle-o fa-3x"></i>
=======
              <div class="circle one" onclick="Print(0)">
                <i class="fa fa-dot-circle-o fa-2x"></i>
>>>>>>> imgUpload
              </div>
            </div>

            <div class="col-md-4">
<<<<<<< HEAD
              <div class="circle two" id = "4" onclick="Print(1)" style="color:#ff9933">
                <i class="fa fa-lightbulb-o fa-3x"></i>
=======
              <div class="circle two" onclick="Print(1)">
                <i class="fa fa-lightbulb-o fa-2x"></i>
>>>>>>> imgUpload
              </div>
            </div>

            <div class="col-md-4">
<<<<<<< HEAD
              <div class="circle three" id = "5" onclick="Print(2)">
                <i class="fa fa-wrench fa-3x"></i>
              </div>
            </div>

          </div>

          <div id="1" style="display:block">
            <div class="col-md-8 col-md-offset-2" >
              <div class = "introduction-content" id = "why">
              <h3>WHY WE DO THIS</h3>
                <p>When many hackers get together, we can make some impact.</p>
              </div>
            </div>
          </div>

          <div id="0" style="display:none">

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>黑客松</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>小聚</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>Workshop</p>
              </div>
            </div>

          </div>

          <div id="2" style="display:none"> 
            <div class="col-md-8 col-md-offset-2">
              <div class = "introduction-content" id = "why">
              <h3>HOW DO WE DO THIS</h3>
                <p>聚集Hackers、培養Hackers</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


<div class = "inner-page padd">
    <div class = "go-to-hackathon padd" style="background-image:url(images/2015hackNTU-3.jpg) ; height: 600px" >
      <div class = "container">
        <div class="row">
          
          <!-- <img src="images/2015hackNTU-3.jpg"> -->

          <div class="col-md-12">
            <div class="info">
              <h2>I Want to sign up!</h2>
              <p>The hackathon in August</p>
              <br>
              <a><i class="fa fa-arrow-circle-o-right"></i>go to sign up page</a>

            </div>  
          </div>

            
        </div>      
      </div>
    </div>
  </div>

  <div class = "inner-page padd">
    <div class = "history-about-us padd" style="background-image:url(http://2015hackntu.github.io/images/line3.jpg)">
      <div class = "container">
        <div class="row">
          
          <div class="col-md-12">
            <div>
              <h3>History</h3>
              <h3>About Us</h3>
            </div>
          </div>
          

            
        </div>      
=======
              <div class="circle three" onclick="Print(2)">
                <i class="fa fa-wrench fa-2x"></i>
              </div>
            </div>

          </div>

          <div id="1" style="display:block">
            <div class="col-md-8 col-md-offset-2" >
              <div class = "introduction-content" id = "why">
              <h3>WHY WE DO THIS</h3>
                <p>When many hackers get together, we can make some impact.</p>
              </div>
            </div>
          </div>

          <div id="0" style="display:none">

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>黑客松</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>小聚</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                <h3>WHAT DO WE DO</h3>
                  <p>Workshop</p>
              </div>
            </div>

          </div>

          <div id="2" style="display:none"> 
            <div class="col-md-8 col-md-offset-2">
              <div class = "introduction-content" id = "why">
              <h3>HOW DO WE DO THIS</h3>
                <p>聚集Hackers、培養Hackers</p>
              </div>
            </div>
          </div>


        </div>
>>>>>>> imgUpload
      </div>
    </div>
  </div>




  <div class="footer padd">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>I am a footer</h1>
            <p>We gather Hackers.</p>
        </div>

          
      </div>
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


    <!-- <div name="Picture1" class="parallax-container" data-parallax="scroll" data-position="top" data-image-src="images/2015hackNTU.jpg" style="height: 650px;"></div>

    <div name="Picture2" class="parallax-container" data-parallax="scroll" data-image-src="images/2015hackNTU_2.jpg" style="height: 650px;"></div>

    <section>
      <div class="container text-left" >
        <h2 id ="title">Hello</h2>
        <ul>
          <li>We</li>
          <li>are</li>
          <li>Hack</li>
          <li>NTU</li>
        </ul>
        <a class="text-right" href="https://www.facebook.com/hackNTU?fref=ts">follow us on Facebook</a>
      </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="images/try_1.jpg" data-natural-width="578" data-natural-height="367" style="height: 650px;"></div> -->

    
   </div> 

  </body>
</html>