<!DOCTYPE html>
<html>

  <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="js/blog.js"></script>

    <!-- trying waypoint -->
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/waypoints.sticky.js"></script>

    <!-- This is the js for calendar dropdown -->
    <script>
    $(document).ready(function() {
      $('.btn-calender-md .calender-link').click(function(e){
        e.preventDefault();
    var $dd_menu = $('.btn-calender-md .calender-dropdown')
    if ($dd_menu.hasClass('open')) {
          $dd_menu.fadeOut();
          $dd_menu.removeClass('open');
    } 
    else {
      $dd_menu.fadeIn();
      $dd_menu.addClass('open');
    }
  });
});
      
    //   $(function () {
    //     $('[data-toggle="dropdown"]').dropdown()
    //   }) ;
    //   $('.img-responsive').dropdown('show');

    //   var backdrop = '.dropdown-backdrop'
    //   var toggle   = '[data-toggle=dropdown]'
    //   var Dropdown = function (element) {
    //   $(element).on('click.bs.dropdown', this.toggle)

    //   Dropdown($('#calender1'));
    // }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('nav').waypoint('sticky', {
              stuckClass: 'sticky'
          });

          $('nav > div > ul').onePageNav({
              currentClass: 'active',
              changeHash: false,
              scrollSpeed: 700,
              scrollOffset: 60,
              easing: 'swing',
              end: function() {
                  if ($(window).width() < 768) {
                      $('.menu-trigger').removeClass('open');
                      $('nav > div > ul').slideUp(300);
                  }
              }
          });
          this.toggleMenu();
        });
    </script>

    <!-- This is the js for WHY WHAT HOW -->
    <script type="text/javascript">
      function HideContent(d) {
      document.getElementById(d).style.display = "none";
      }
      function ShowContent(d) {
      document.getElementById(d).style.display = "block";
      }
      
      function Print(d){
        for (var i = 0; i < 3; i++){
          if (i==d){
            document.getElementById(i).style.display = "block";
            document.getElementById(i+3).style.color = "#ff9933";
            document.getElementById(i+6).style.color= "white";
          }
        else {
          document.getElementById(i).style.display = "none";
          document.getElementById(i+3).style.color = "black";
          document.getElementById(i+6).style.color= "black";
        }
      }
    }
    </script>
    
    
    
    
  </head>

  <body>
  <div class="wrapper">

<div class = "inner-page padd">
    <div class = "about-vedio padd">
      <div class = "container" style="width:100%">
        <div class="row">
            <div class="play-the-video">
              <!-- <img src="images/2015hackNTU-3-black.jpg"> -->
              <video width=100% height = 100% loop = "true" autoplay = "true">
                <source src="images/earth-2.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag. -->
              </video>
              <div class="the-button">
              <h1>HackNTU,<br>We Rock This World!</h1>
              <a class="btn btn-danger" type="button">
              <i class="fa fa-play-circle fa-2x"></i>
              Watch the video</a>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>






      <nav class="navbar navbar-default" role="navigation" id = "main">
        <!-- <div class = "warning disappear navbar-fixed-top"><span id warning-text></span><span class = x pull lft></span></div> -->
        <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Activity <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Organization</a></li>
              <li>
                <a class="navbar-brand" href="#">
                  <img alt="Brand" style = "margin-top:-45px"src="images/logo-small.png">
                </a>
              </li>
              <li><a href="#">Projects</a></li>
              <li><a href="/blog">Blog</a></li>
              <li>
                <div class="btn-calender-md">
                  <a class="calender-link" href="#">
                    <!-- <img class="img-responsive" id="calender" src="images/calender.png" alt="" /> -->
                    <i class="fa fa-calendar fa-3x"></i>
                    <div class="clearfix"></div>
                  </a>
                    <div class="small-triangle"></div>
                    <div class="calender-dropdown" role="calender">
                      <table>
                      <p>2015年 3月</p>
                        <tr>
                          <td>一</td>
                          <td>二</td>
                          <td>三</td>
                          <td>四</td>
                          <td>五</td>
                          <td>六</td>
                          <td>日</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </li>
              
              <!-- <li><a id="calender"><img src="images/calender.png"></a></li> -->
              <!-- Button calender -->

              
              <!-- DropDown Start-->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </li> -->
              <!-- DropDown End-->
            </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    


  <!--  data-bleed="10" data-natural-width="1400" data-natural-height="900" style="height: 650px;"  -->


  

  <div class="inner-page padd">
    <div class="introduction">
      <div class="container">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">
              <div class="text" id = "6" onclick="Print(0)" style="cursor:pointer">
                <h3>WHAT DO WE DO</h3>
              </div>
              <div class="circle one" id = "3" onclick="Print(0)" style="cursor:pointer">
                <i class="fa fa-dot-circle-o fa-3x"></i>
              </div>
            </div>

            <div class="col-md-4">
              <div class="text" id = "7" onclick="Print(1)" style="color:white">
                <h3>WHY WE DO THIS</h3>
              </div>
              <div class="circle two" id = "4" onclick="Print(1)" style="color:#ff9933">
                <i class="fa fa-lightbulb-o fa-3x"></i>
              </div>
            </div>

            <div class="col-md-4">
              <div class="text" id = "8" onclick="Print(2)" style="cursor:pointer">
                <h3>HOW DO WE DO THIS</h3>
              </div>
              <div class="circle three" id = "5" onclick="Print(2)" style="cursor:pointer">
                <i class="fa fa-wrench fa-3x"></i>
              </div>
            </div>

          </div>

          <div id="1" style="display:block">
            <div class="col-md-8 col-md-offset-2" >
              <div class = "introduction-content" id = "why">
                <p>When many hackers get together, we can make some impact.</p>
              </div>
            </div>
          </div>

          <div id="0" style="display:none">

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                  <p>黑客松</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                  <p>小聚</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class = "introduction-content" id = "what">
                  <p>Workshop</p>
              </div>
            </div>

          </div>

          <div id="2" style="display:none"> 
            <div class="col-md-8 col-md-offset-2">
              <div class = "introduction-content" id = "why">
                <p>聚集Hackers、培養Hackers</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


<div class = "inner-page padd">
    <div class = "go-to-hackathon padd" style="background-image:url(images/library.jpg) ; height: 600px" >
      <div class = "container">
        <div class="row">
          
          <!-- <img src="images/2015hackNTU-3.jpg"> -->

          <div class="col-md-12">
            <div class="info">
              <h2>I Want to sign up!</h2>
              <p>The hackathon in August</p>
              <br>
              <a><i class="fa fa-arrow-circle-o-right"></i>go to sign up page</a>

            </div>  
          </div>

            
        </div>      
      </div>
    </div>
  </div>

  <div class = "inner-page padd">
    <div class = "history-about-us padd" style="background-image:url(http://2015hackntu.github.io/images/line3.jpg)">
      <div class = "container">
        <div class="row">
          
          <div class="col-md-12">
            <div>
              <h3>History</h3>
              <p>HackNTU的發起人，也是共同創辦人之一的張凱迪，在與夥伴們參加Yahoo的Hack day之後，發覺國外很多知名企業與一流大學都有自己的Hackthon，而台灣各大專院校卻都沒有類似活動，於是成立了HackNTU。</p>
              <h3>About Us</h3>
              <p>
Cooperative Development
洽談贊助與合作，為HackNTU網羅企業、政府、媒體等。
<br>
Performance Management
參與各部門的討論，了解、追蹤、協調各部門的運作進程。
<br>
Digital Marketing
運用各種新奇創意的方式行銷，推拉式並重，未來的我們會在各大社群與媒體活躍，例如PTT、Facebook、Inside、TechOrange、TVBS等等。
<br>
Hackathon Competition
主要負責各種競賽的活動設計、志工管理訓練、海外協辦合作
<br>
School Club
經營Hack NTU社團，與學校溝通，保障社團權益。
<br>
Brand Design
為Hack NTU設計一套視覺語言，以影像、圖像等方式展現黑客精神。
<br>
Technology Development
開發與維護官網，橫跨技術與藝術領域。
<br>
Community Relations
規畫各種聚會活動，如工作坊、開發小聚、演講等。
            </p>
            </div>
          </div>

        </div>      
      </div>
    </div>
  </div>




  <div class="footer padd">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>HackNTU</h1>
            <p>We gather Hackers.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="logo"></div>
            <h1>I am a footer</h1>
            <p>We gather Hackers.</p>
        </div>

          
      </div>
      <div class="footer-copyright">
        <p>&copy; Copyright 2015 <a href="#">HackNTU</a></p>
      </div>
    </div> 
  </div>


   
    
   </div> 

  </body>
</html>