<!DOCTYPE html>
<html ng-app="communityApp">
<head>
	<tltle></tltle>
	<link rel="stylesheet" href="css/community/style.css">
	<link rel="stylesheet" href="css/shared/navbar/navbar_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/community/animate.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js"></script>
	<script src="libs/jquery-2.1.3.min.js"></script>
	<script src="js/community/community.js"></script>
</head>
<body ng-controller="communityCtrl">
<div style="position: fixed; top: 0; left: 0; margin-top: 0; z-index: 999; background-color: white; width: 100%; ">
    <% include ../shared/navbar.ejs %>
</div>
<div>
	<div class="frameset">
		<div class="frame frame-left">
			<div class="frame-outer"></div>
			<div class="frame-inner">
				<div>
					{{frameLeft}}
				</div>
			</div>
		</div>
		<div class="frame frame-right">
			<div class="frame-outer"></div>
			<div class="frame-inner">
				<div>
					{{frameRight}}
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-group">
		<img class="timeline-tag-today" src="imgs/community/today.png" alt="today">
		<div class="timeline"></div>
		<div class="month-tag">
			<div id="month-1">3<div></div></div>
			<div id="month-2">4<div></div></div>
			<div id="month-3">5<div></div></div>
		</div>
		<div class="timeline-tag" id="tag-1" tag="workshop">
			<img src="imgs/community/activity-1.png" alt="">
		</div>
		<div class="timeline-tag" id="tag-2"></div>
		<div class="timeline-tag" id="tag-3"></div>
		<div class="timeline-tag" id="tag-4"></div>
		<div class="timeline-tag" id="tag-5"></div>
	</div>
	<section class="activity" id="workshop">
		<div class="cross" tag="workshop"><div>x</div></div>
		<span>workshop</span>
		<aside>
			<div><span><b>3/7</b>網路前端設計</span></div>
			<div><span><b>5/2</b>軟硬整合-相機</span></div>
		</aside>
		<article>
			<span>網路前端設計</span>
			<section>
				<h2><div></div>主題介紹</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, fuga ab unde perspiciatis provident doloribus ipsam, libero repudiandae omnis consectetur et maiores. Quod earum illum ullam omnis quisquam, alias totam?</p>
				<h2><div></div>講者介紹</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptatem suscipit aliquid illum delectus velit provident atque dolorum rerum quae porro, corporis, soluta, similique assumenda. Eveniet illum necessitatibus porro ad.</p>
			</section>
		</article>
	</section>
</div>
</body>
</html>
