<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/bootstrap.css' />		
		<style>
			div{
				padding: 10;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<h1>Hello~~ This is <%= message %></h1>
		<a href="/example">getUser</a>

		</div>
	</body>

</html>
