<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/parallax.min.js"></script>
    	<link rel="text/javascript" href="/javascripts/semantic.js">
    	<link rel="stylesheet" href="/stylesheets/semantic.css">
	</head>

	<body id = "example">

		
        <div>
    <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              
            </button>
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="images/logo-small.png">
            </a>
            
         </div> -->

    	<div class = "full height">
    	<div class = "following bar light fixed">


    	<div class = "ui page centered grid">
          	<div class="column">
          		
          		<div class = "ui large secondary network menu " id = "a">
          			<a class = "view-ui item">Activity</a>
          			<a class = "view-ui item">Hackathon</a>
          			<a class = "view-ui item">Blog</a>
          		</div>

          		<div class = "ui logo shape">
          			<div class = "ui side active">
          				<a href="#"><img class = "ui image" src = "images/logo.png"></a>
          			</div>
          		</div>


          		<div class = "ui large secondary network menu " id = "b">
          			<a class = "view-ui item">Projects</a>
          			<a class = "view-ui item">Orginization</a>
          		</div>

          		<div class = "ui right floated secondary menu">
          			<div class = "item">
          				
          			</div>
          		</div>

  			</div>
  		</div>

  		<div class = "first segment">
  			<div class = "ui page grid">
  				<div class="column">
  					<img src = "images/2015hackNTU_2.jpg">
  				</div>
  			</div>
  		</div>


  		</div>
  		</div>
    

 

		
    

	</body>
</html>

