.month-block {
	margin: 0;
	font-size: 20px;
	position: absolute;
}
.position-0 {
	left: 0;
}
.position-1 {
	left: 7.7%;
}
.position-2 {
	left: 15.4%;
}
.position-3 {
	left: 23.1%;
}
.position-4 {
	left: 30.8%;
}
.position-5 {
	left: 38.5%;
}
.position-6 {
	left: 46.2%;
}
.position-7 {
	left: 53.9%;
}
.position-8 {
	left: 61.6%;
}
.position-9 {
	left: 69.3%;
}
.position-10 {
	left: 77%;
}
.position-11 {
	left: 84.7%;
}