@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix {
  display: inline-block;
}
.cal {
  max-width: 300px;
  margin: 0;
  font-family: 'Droid Sans Mono';
}
.cal .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;

  color: #f5f5f5;
  background-color: #cc0000; 
}
.cal .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 12%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal .clndr .clndr-controls {
  padding-top: 3px;
  height:25px;
}
.cal .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #cc4030;
}
.cal .clndr .clndr-controls .month {
  float: left;
  width: 76%;
  text-align: center;
}
.cal .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 12%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #cc4030;
}
.cal .clndr {
  background-color: #f0f0f0;
  overflow: hidden;
  border-bottom: 7px solid #cc0000;
}
/* day container */
.cal .clndr .days-container {
  position: relative;
  width: 300px;
  height: 209px;
  display: inline-block;
}
.cal .clndr .days-container .clndr-grid {
  position: absolute;
  left: 0;
  width: 210px;
  height: 225px;
  text-align: center;
  display: inline-block;
  margin: 0 45px;
}
.cal .clndr .days-container .clndr-grid .header-day {
  padding-top: 3px; 
  float: left;
  width: 30px;
  height: 25px;
  background: #f0f0f0;
  color: #cc0000;
  font-weight: 600;
}
.cal .clndr .clndr-grid .day {
  float: left;
  padding-top: 3px;
  width: 30px;
  height: 25px;
  background-color: #fafafa;
}
.cal .clndr .clndr-grid .day.event {
  background-color: #ff9933;
}

.cal .clndr .clndr-grid .day.event:hover {
  background-color: #ffb033;
}

.cal .clndr .clndr-grid .day.today {
  color: #cc0000;
}
.cal .clndr .clndr-grid .empty,
.cal .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 30px;
  height: 25px;
  color: #acacac;
}

/* today bottun */
.cal .clndr .clndr-today-button {
  position: absolute;
  top: 186px;
  left: 40%;
  width: 20%;
  height:20px;
  border-radius: 1px;
  background-color: #cc0000;
  color: #f5f5f5;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.cal .clndr .clndr-today-button:hover {
  background-color: #ee1010;
}

/* event list */
.cal .clndr .days-container .events {
  position: absolute;
  top: 0;
  left: 300px;
  width: 300px;
  height: 209px;
  transition: left 0.5s;
  background-color: #ffffff;
}
.cal .clndr .days-container .events .headers {
  position: relative;
}
.cal .clndr .days-container .events .event-header {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #cc0000;
}
.cal .clndr .days-container .events .x-button {
  position: absolute;
  font-size: 80%;
  top: 7px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.cal .clndr .days-container .events .x-button:hover {
  color: white;
}
.cal .clndr .days-container .events .events-list {
  overflow: scroll;
  height: 185px;
}
.cal .clndr .days-container .events .events-list .event {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffe0e0;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.cal .clndr .days-container .events .events-list .event:hover {
  background-color: #ffd0d0;
}
.cal .clndr .days-container .events .events-list .event a {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.cal .clndr .days-container .events .events-list .event a:hover {
  background-color: transparent;
  color: #b70000;
}
.cal .clndr .days-container.show-events .days {
  left: -294px;
}
.cal .clndr .days-container.show-events .events {
  left: 0;
}
