.hide{
    -webkit-transform: scale(0); /* Safari */
    -moz-transform: scale(0);
    -ms-transform: scale(0); /* IE 9 */
    -o-transform: scale(0);
    transform: scale(0);
}

.show{
    -webkit-animation: show-animation 1s ease-in-out;
    animation: show-animation 1s ease-in-out;
}

@-webkit-keyframes show-animation {
    0% {
        -webkit-transform: scale(0); /* Safari */
        -moz-transform: scale(0);
        -ms-transform: scale(0); /* IE 9 */
        -o-transform: scale(0);
        transform: scale(0);
    }
    80% {
        -webkit-transform: scale(1); /* Safari */
        -moz-transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -o-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1.2); /* Safari */
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100%{
        -webkit-transform: scale(1); /* Safari */
        -moz-transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes show-animation {
    0% {
        -webkit-transform: scale(0); /* Safari */
        -moz-transform: scale(0);
        -ms-transform: scale(0); /* IE 9 */
        -o-transform: scale(0);
        transform: scale(0);
    }
    80% {
        -webkit-transform: scale(1); /* Safari */
        -moz-transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -o-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1.2); /* Safari */
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100%{
        -webkit-transform: scale(1); /* Safari */
        -moz-transform: scale(1);
        -ms-transform: scale(1); /* IE 9 */
        -o-transform: scale(1);
        transform: scale(1);
    }
}