/*the first line bar started with*/
.position-begin-1 {
	left: -92.4%;
}
.position-begin-2 {
	left: -100.1%;
}
.position-begin-3 {
	left: -107.8%;
}
.position-begin-4 {
	left: -115.5%
}
.position-begin-5 {
	left: -123.2%;
}
.position-begin-6 {
	left: -130.9%;
}

.position-first-1 {
	left: 0;
}
.position-first-2 {
	left: -7.7%;
}
.position-first-3 {
	left: -15.4%;
}
.position-first-4 {
	left: -23.1%;
}
.position-first-5 {
	left: -30.8%;
}
.position-first-6 {
	left: -38.5%;
}
.position-first-7 {
	left: -46.2%;
}
.position-first-8 {
	left: -53.9%;
}
.position-first-9 {
	left: -61.6%;
}
.position-first-10 {
	left: -69.3%;
}
.position-first-11 {
	left: -77%;
}
.position-first-12 {
	left: -84.7%;
}

.position-second-1 {
	left: 92.4%;
}
.position-second-2 {
	left: 84.7%;
}
.position-second-3 {
	left: 77%;
}
.position-second-4 {
	left: 69.3%;
}
.position-second-5 {
	left: 61.6%;
}
.position-second-6 {
	left: 53.9%;
}
.position-second-7 {
	left: 46.2%;
}
.position-second-8 {
	left: 38.5%;
}
.position-second-9 {
	left: 30.8%;
}
.position-second-10 {
	left: 23.1%;
}
.position-second-11 {
	left: 15.4%;
}
.position-second-12 {
	left: 7.7%;
}



.position-after-7 {
	left: 138.5%;
}
.position-after-8 {
	left: 130.8%;
}
.position-after-9 {
	left: 123.1%;
}
.position-after-10 {
	left: 115.4%;
}
.position-after-11 {
	left: 107.7%;
}
.position-after-12 {
	left: 100%;
}