.transition-1 {
	transition: left 0.5s;
}
.transition-2 {
	transition: left 1s;
}
.transition-3 {
	transition: left 1.5s;
}
.transition-4 {
	transition: left 2s;
}
.transition-5 {
	transition: left 2.5s;
}
.transition-6 {
	transition: left 3s;
}
