.department-circuit {
	top: 200px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	margin: 0 auto;
	position: absolute;
}

.department-circuit .dispaly {
	top: 100px;
	left: 100px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	position: absolute;
	background-color: #ff9933;
	color: #eaeaea;
	text-align: center;
	font-size: 15px;
	padding: 100px 50px;
}

.department-circuit img {
	width: 100px;
	position: absolute;
	transition: transform .5s, box-shadow .5s;
	-webkit-transition: -webkit-transform .5s, -webkit-box-shadow .5s;
}
.department-circuit img:hover {
	-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}
/*.department-circuit .selected {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}*/