
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

section {
  padding: 25px 0 35px;
  background: #fff;
  height: 700px;
}
/*.disappear{
	display: none;
}*/
.warning {
	background-color: #FFAC55;
	height: 15px;
	font-family: sans-serif;
	color: #FFE7CD;
	padding-left: 5px;
	padding-top: 3px;
	font-size: 7px;
}

.container {
  font-size: 20px;
  font-family:sans-serif;
}

nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
  z-index: 10;
  border-radius: 0px;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand img{
	margin-top: -68px;
	width: 130px;
	margin-left: 6px;
}
.navbar-default{
	margin-bottom: 0px;
	border: 0px;
	background-color: #ffffff;
	width: 100%;
	height: 120px;
}
.navbar-default .navbar-nav > li > a {
	color:#cc0000;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 20px;
}
.navbar-nav{
	text-align: center;
	position: relative;
	z-index: 999;
	width: 100%;
	height: 100px;
	top: 0;
	background-color: #ffffff;
}
.navbar-nav li:nth-child(6) i{
	width: 50px;
	margin-left: 40px;
	margin-top: 25px;
	color: #cc0000;
}


.btn-calender-md .calender-dropdown { 
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	z-index: 1000;
	max-width: 300px;
	min-width: 230px;
	width: 300px;
	padding: 0;
	list-style-type: none;
	display: none;
}

.navbar-nav li:first-child{
	margin-left: 22.5%;
}
.navbar-nav li:nth-child(2){
	margin-right: 3%;
}
.navbar-nav li:nth-child(4){
	margin-left: 2.5%;
}

.navbar-nav li{
	width: 9%;
}

.padd .container .row .col-md-12 .gray{
	background-color: #e6e6e6;
	height: 100px;	
}
.padd .container .row .col-md-12 .month{
	background-color: #ffffff;
	height: 100px;	
}
.padd .container .row .col-md-12 .gray img{
	width: 100%;
		
}
.triangle{
	position: fixed;
	margin-top: 100px;
	left: 43%;
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 60px solid #ffffff;
	text-align: center;
	background-color: transparent;
	z-index: 1000;
}
.small-triangle{

}
.play-the-video{
	max-height: 750px;
}
.play-the-video h1{
	color: white;
}

.go-to-hackathon img{
	width: 100%;
	left: 0;
	height:700px;
	z-index: 100;
}

.month-bar{
	top:100px;
	width: 100%;
	height: 90px;
	position: fixed;
	overflow: hidden;
	background-color: #e0e0e0;
}

.footer .logo{
	width: 50px;
}
.footer{
	background: black;
	/*border-top: 1px solid #eaeaea;
	margin-top: 20px;*/
}
.footer .footer-copyright > p{
	font-size: 13px;
	color:#9a9a9a;
	text-align: center;
}
.footer .col-md-4{
	text-align: center;
}
.footer i {
	display: block;
	margin-bottom: 15px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: left;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
}
.footer span{
	font-size: 15px;
}
.footer form{ margin-top: 15px; }

.blog-img {
	width: 30%;
	margin-right: 10px;
}
.a-post{
	margin-top: 20px;
	border-bottom: 1px dashed #ccc;
}
.the-button{
	position: absolute;
	top: 400px;
	left: 800px;
}
.the-button a{
	font-size: 30px;
}
.introduction{
	background-color: #ff9933;
	height: 600px;
	width: 100%;
}
.text{
	margin-top: 15%;
	text-align: center;
}
.circle{
	margin-top: 10%;
	margin-left: 32.5%;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50px;
}
.one i{
	margin-top: 20%;
	margin-left: 26.5%;
}
.two i{
	margin-top: 20%;
	margin-left: 31%;
}
.three i{
	margin-top: 20%;
	margin-left: 26.5%;
}
/*.circle .fa{
	background-color: white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: inline-block;
	line-height: 70px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	vertical-align: sub;

}*/


.introduction-content{
	border: 5px double white;
	border-radius: 6px;
	position: relative;
	width: 100%;
	height: 250px;
	background-color: #ff9933;
	margin-top: 70px;

}
.col-md-8 .col-md-offset-2 > h3{
	padding-top: 50px;
	padding-left: 300px;
	font-size: 30px;
}
.introduction-content p{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: white;
}

.info{
	position: relative;
	width: 100%;
	top: 200px;
	left: 0;
	background: rgba(52, 27, 43, 0.5);
	color: white;
	display: inline-block;
	opacity: 70;
	padding: 3em;
	text-align: center;
	z-index: 200;
}
.info h2 {
	border-bottom: solid 2px;
	border-top: solid 2px;
	font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0.2em;
	margin: 0;
	padding-left: 0.05em;
	position: relative;
	text-transform: uppercase;
	color: white;
	z-index: 900;
}
.history-about-us{
	height: 600px;
	width: 100%;
}
.history-about-us h3{
	color: white;
}
.history-about-us p{
	color: white;
}
.pagination > li > a{
	font-size: 15px;
}


/*about the slider*/

#home {
  position: relative;
  background-attachment: fixed;
  background-position: top center;
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  z-index: 5;
}
#home #maximage {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100%;
  z-index: 1;
  background-color: #000000;
  overflow: hidden;
}
#home.static #maximage {
  position: fixed;
}
.fullscreen-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -64px;
  z-index: 5;
}
.fullscreen-controls .img-prev,
.fullscreen-controls .img-next {
  opacity: 0;
  filter: alpha(opacity=0);
  color: #cc0000;
  position: absolute;
}
.fullscreen-controls .img-prev:before,
.fullscreen-controls .img-next:before {
  font-family: 'FontAwesome';
  font-size: 64px;
}
.fullscreen-controls .img-prev:hover,
.fullscreen-controls .img-next:hover {
  cursor: pointer;
  text-decoration: none;
}
.fullscreen-controls .img-prev {
  left: 15px;
  -webkit-transition: opacity 0.3s, left 0.3s;
  -o-transition: opacity 0.3s, left 0.3s;
  transition: opacity 0.3s, left 0.3s;
}
.fullscreen-controls .img-prev:before {
  content: "\f104";
}
.fullscreen-controls .img-next {
  right: 15px;
  -webkit-transition: opacity 0.3s, right 0.3s;
  -o-transition: opacity 0.3s, right 0.3s;
  transition: opacity 0.3s, right 0.3s;
}
.fullscreen-controls .img-next:before {
  content: "\f105";
}
:hover .fullscreen-controls .img-prev,
:hover .fullscreen-controls .img-next {
  opacity: 1;
  filter: alpha(opacity=100);
}
.fullscreen-controls .img-prev {
  left: 25px;
}
.fullscreen-controls .img-next {
  right: 25px;
}
#home .home-wrapper {
  width: 100%;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 3;
  text-align: center;
}
#home .home-wrapper .logo h1 {
  font-family: 'Lobster', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  padding: 0 15px 20px;
  display: inline-block;
  color: #ffffff;
  font-size: 80px;
  line-height: 88px;
}
#home .home-wrapper #home-slider {
  max-width: 99% !important;
}
#home .home-wrapper #home-slider .star-line {
  height: 20px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}
#home .home-wrapper #home-slider .star-line .icons {
  display: block;
  width: 76px;
  text-align: center;
  margin: 0 auto;
}
#home .home-wrapper #home-slider .star-line .icons:before,
#home .home-wrapper #home-slider .star-line .icons:after {
  content: " ";
  display: table;
}
#home .home-wrapper #home-slider .star-line .icons:after {
  clear: both;
}
#home .home-wrapper #home-slider .star-line .icons .glyphicon {
  color: #ffffff !important;
  font-size: 18px;
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#home .home-wrapper #home-slider .star-line .icons .glyphicon:first-child,
#home .home-wrapper #home-slider .star-line .icons .glyphicon:last-child {
  font-size: 14px;
  margin-top: 2px;
}
#home .home-wrapper #home-slider .star-line .line-pre,
#home .home-wrapper #home-slider .star-line .line-after {
  display: block;
  height: 1px;
  position: absolute;
  width: 340px;
  top: 9px;
}
#home .home-wrapper #home-slider .star-line .line-pre {
  left: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%, #ffffff 70%);
  background-image: -o-linear-gradient(left, transparent 0%, #ffffff 70%);
  background-image: linear-gradient(to right, transparent 0%, #ffffff 70%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ffffffff', GradientType=1);
}
#home .home-wrapper #home-slider .star-line .line-after {
  right: 0;
  background-image: -webkit-linear-gradient(left, #ffffff 30%, transparent 100%);
  background-image: -o-linear-gradient(left, #ffffff 30%, transparent 100%);
  background-image: linear-gradient(to right, #ffffff 30%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#00000000', GradientType=1);
}
#home .home-wrapper #home-slider ul {
  margin: 0;
  padding: 0;
}
#home .home-wrapper #home-slider ul:before,
#home .home-wrapper #home-slider ul:after {
  content: " ";
  display: table;
}
#home .home-wrapper #home-slider ul:after {
  clear: both;
}
#home .home-wrapper #home-slider li {
  margin: 0;
  padding: 0;
}
#home .home-wrapper #home-slider h1 {
  color: #ffffff;
  line-height: 68px;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home .home-wrapper .buttons {
  margin-top: 20px;
}
#home .home-wrapper .buttons .btn {
  position: relative;
  z-index: 6;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 15px 20px;
}
#home .home-wrapper .buttons .btn:hover {
  background-color: #ffffff;
  color: #222222;
}
#home .home-wrapper .buttons .or {
  position: relative;
  z-index: 7;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  background-color: #fff;
  padding: 6px 7px 7px;
  margin-left: -18.5px;
  margin-right: -18.5px;
  border-radius: 50%;
}
/*about the slider*/


.activity{
	background: url(images/crossword.png);
	margin-top: 50px;
	margin-bottom: 50px;
}

/*
 * General page CSS 
 */

/*.inner-page .general { margin-top: 50px; }*/
.inner-page .general .general-content { 
	background: #fff; 
	border: 1px solid #eee;
	border-radius: 5px;
	overflow: hidden;
}

.inner-page .general .nav-tabs{ border-bottom: 1px solid #eee; }
.inner-page .general .nav-tabs>li>a {
	margin-right: 0; 
	border-right: 1px solid #eee;
}

.inner-page .general .nav-tabs>li>a,
.inner-page .general .nav-tabs>li.active>a { border-radius: 0; }
.inner-page .general .nav-tabs>li.active>a { color: #fff; }
.inner-page .general .tab-content{ padding: 15px; }
.inner-page .general .tab-content h5 { margin: 0; font-size: 20px; }
.inner-page .general .tab-content p {
	margin-top: 10px;
	font-size: 13px;
	color: #9a9a9a; 
}

.inner-page .general .tab-content ul{ margin: 0; }
.inner-page .general .tab-content ul li { margin-top: 10px; color: #959595; }
.inner-page .general .tab-content ul li i { display: inline-block; margin-right: 4px; }
.inner-page .general .general-img { position: relative; margin-bottom: 30px; }
.inner-page .general .general-img .hot-tag{
	top: 10px;
	left: 10px;
	z-index: 20;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 0;
	border-top-left-radius: 15px;
}

/* 
 * Basic CSS starts
 */

body{
	background: #fff url('../img/crossword.png') repeat;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Droid Serif', serif;
	font-weight: 400;
}

p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 23px;
}

a{

}

a:hover{
	text-decoration: none;
}

a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
}

hr{
	border-top: 1px solid #777777;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

form label { font-weight: normal; color: #9a9a9a; }
form select { padding-left: 7px !important }
form select, form textarea { color: #9a9a9a !important; }
form input[type="text"], form input[type="password"], form input[type="email"],
form select, form textarea{ box-shadow: none !important; }
.table-responsive { border-radius: 4px; }
table { background: #fff; }

/*.padd{
	padding: 50px 0;
}*/

.social a i{
	display:inline-block;
	width:40px;
	height:40px;
	font-size:15px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}

.social a, .social a:hover{
	border:0px;
	text-decoration:none;
}

/*
 * Blog page CSS 
 */

.inner-page .blog { margin-top: 40px; margin-bottom: 20px; }
.inner-page .blog .blog-post .entry {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc;
}

.inner-page .blog .blog-post .entry .blog-img { max-width: 250px; }
.inner-page .blog .blog-post .entry .meta {
	margin-left: 270px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 35px;
}

.inner-page .blog .blog-post .entry h3 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 270px;
	font-size: 24px;
	line-height: 30px;
}

.inner-page .blog .blog-post .entry hr {
	width: 70px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 270px;
}

.inner-page .blog .blog-post .entry p {
	margin-left: 270px;
	font-size: 14px;
	line-height: 26px;
	color: #9a9a9a;
	text-align: justify;
}

.inner-page .blog .pagination { margin-top: 15px; }
.inner-page .blog .sidebar-widget{
	margin-bottom: 30px;
	padding: 15px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
}

.inner-page .blog .sidebar-widget h4 {
	margin-top: 0;
	margin-bottom: 13px;
	padding-bottom: 8px;
	border-bottom: 4px double #eee
}

.inner-page .blog .sidebar-widget ul li { margin-top: 10px; }
.inner-page .blog .sidebar-widget ul li i {
	position: relative;
	top: 1px;
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
}
	
.inner-page .blog .sidebar-widget ul li a { font-size: 13px;	line-height: 20px; }
.inner-page .blog .sidebar-widget p { font-size: 13px; color: #9a9a9a; }
.inner-page .blog .sidebar-widget .social { margin-top: 9px; }
.inner-page .blog .sidebar-widget .social a i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	margin-right: 2px;
	font-size: 14px;
	border-radius: 50px;
}

.inner-page .blog .sidebar-widget a.btn{
	margin-right: 5px;
	margin-bottom: 10px;
}
