<html>
<head>
    <tltle></tltle>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/shared/navbar/navbar_style.css">
    <link rel="stylesheet" href="css/home/style.css">
</head>
<body>

<section>
    <div class="width-100">
        <img src="imgs/home/index/mainpic_clear3.png" class="width-100" style="z-index: -999;">
    </div>
</section>

<div data-0="position: relative; top: 0; left: 0; margin-top: -3em;" data-650="position: fixed; top: -1em; left: 0;" data-700="position: fixed; top: 0; left: 0; margin-top: 0;" class="width-100 position-relative" style="z-index: 999; background-color: white">
    <% include ../shared/navbar.ejs %>
</div>


<!-- Film -->
<section>
    <div style="text-align: center; padding-top: 10em">
        <iframe width="70%" height="7%" src="https://www.youtube.com/embed/w4xjxO2crp4" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<!-- Why -->
<section>
    <div data-800="top:100%; display: block" data-850="top:86.5%" data-1850="top:-20%" data-3350="display: none;" class="scene-default">
        <div class="title-width title-left">
            <img src="imgs/home/why/why.png" class="width-100" style="margin-bottom: -1.1em">
        </div>
        <div class="background background-red">
            <div class="position-absolute" style="top: 8em; left: 4em">
                <img src="imgs/home/why/why_content.png" class="width-90">
            </div>
            <div>
                <div class="position-absolute" style="top: 8em; right: 6em">
                    <img src="imgs/home/why/why_idea.png" class="width-75">
                </div>
                <div data-850="bottom: 6em" data-2850="bottom: 12em" class="position-absolute" style="bottom: 13em; right: 5em">
                    <img src="imgs/home/why/why_role.png" class="width-75">
                </div>
                <div class="position-absolute" style="bottom: 7em; right: 2em">
                    <img src="imgs/home/why/why_ground.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How -->
<section>
    <div data-800="top:100%; display: block" data-850="top:86.5%" data-2350="top:86.5%" data-3350="top:-20%" data-4850="display: none" class="scene-default">
        <div class="title-width title-center">
            <img src="imgs/home/how/how.png" class="width-100" style="margin-bottom: -0.7em">
        </div>
        <div class="background background-orange">
            <div class="position-absolute" style="top: 8em; left: 4em">
                <img src="imgs/home/how/how_content.png" class="width-90">
            </div>
            <div>
                <div class="position-absolute" style="bottom: 6em; right: -10em">
                    <img src="imgs/home/how/how_role.png" class="width-75">
                </div>
                <div data-2350="transform: scale(0.7);" data-4350="transform: scale(1.4);" class="position-absolute" style="bottom: 26em; right: 13em">
                    <img src="imgs/home/how/how_idea.png" class="width-50">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What -->
<section>
    <div data-800="top:100%" data-850="top:87.3%" data-3850="top:87.3%" data-4850="top:-20%" data-5350="top: -20%" data-6350="top: -120%" class="scene-default">
        <div class="title-width title-right">
            <img src="imgs/home/what/what.png" class="width-100" style="margin-bottom: -1em">
        </div>
        <div class="background background-yellow">
            <div class="position-absolute" style="top: 6.5em; left: 4em">
                <img src="imgs/home/what/what_content.png" class="width-90">
            </div>
            <div>
                <div data-3850="left: -10em" data-5850="left: 8em;" class="position-absolute" style="bottom: 3em; left: -10em">
                    <img src="imgs/home/what/what_role.png" class="width-75">
                </div>
                <div class="position-absolute" style="bottom: 25em; left: 25em">
                    <img src="imgs/home/what/what_idea.png" class="width-75">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Final -->
<section>
    <div data-5350="top:100%" data-6350="top:0%" class="scene-default">
        <div class="background background-black">
            <div class="position-absolute width-100" style="text-align: center">
                <img src="imgs/home/final/final_idea.png" class="margin-top">
            </div>
            <div class="position-absolute" style="top: 5em; right: 3em;">
                <img src="imgs/home/final/final_checkit.png">
            </div>
            <div class="position-absolute width-100" style="bottom: 10em; text-align: center">
                <img src="imgs/home/final/final_history.png">
            </div>
        </div>
    </div>
</section>


</body>
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/home/skrollr.js"></script>
<script>
    var s = skrollr.init();
    $(document).ready(function() {

        //Other code ...

        /*HEIGHT and WIDTH below is your screen size not the your browser's
         inner Size. AND if your width is 1280px then replace WIDTH by 1280.0
         (Note 0 after point)in the code below and same for HEIGHT.*/

        factor_x = ($(window).width()) / 1280;
        factor_y = ($(window).height()) / 720;

        $('body').css("transform","scale("+factor_x+","+factor_y+")");

        //For Firefox
        $('body').css("-moz-transform","scale("+factor_x+","+factor_y+")");

        //For Google Chrome
        $('body').css("-webkit-transform","scale("+factor_x+","+factor_y+")");

        //For Opera
        $('body').css("-o-transform","scale("+factor_x+","+factor_y+")");

    });

</script>
</html>