<html>
<head>
    <tltle></tltle>
    <link rel="stylesheet" href="css/home/style.css">
</head>
<body>
<section>
    <div class="full-screen header-background-pic">
        <!--<div>-->
        <!--<img src="imgs/index/main-pic.jpg" style="width: 100%">-->
        <!--</div>-->
        <!--<div style="top: 0px; z-index: 10;">-->
        <!--<img src="imgs/index/inde_logo.png">-->

        <!--</div>-->
    </div>
</section>

<section>
    <div data-0="top:86.5%" data-1000="top:-20%" style="position: fixed; top: 95%; left: 0em; width: 100%;">
        <div class="title-width title-left">
            <!--<div class="title-div">-->
            <!--<h1 class="title-huge font-red font-shadow">why</h1>-->
            <!--</div>-->
            <!--<div class="trapezoid-red"></div>-->
            <img src="imgs/home/scene_one/why.png" style="width: 100%; margin-bottom: -0.9em">
        </div>
        <div class="background background-red"></div>
    </div>

    <div data-2000="top:86.5%" data-3000="top:-20%" style="position: fixed; top: 95%; left: 0em; width: 100%;">
        <div class="title-width title-center">
            <!--<div class="title-div">-->
            <!--<h1 class="title-huge font-orange font-shadow">how</h1>-->
            <!--</div>-->
            <!--<div class="trapezoid-orange"></div>-->
            <img src="imgs/home/scene_two/how.png" style="width: 100%; margin-bottom: -0.6em">
        </div>
        <div class="background background-orange"></div>
    </div>

    <div data-4000="top:87.3%" data-5000="top:-20%" style="position: fixed; top: 95%; left: 0em; width: 100%;">
        <div class="title-width title-right">
            <!--<div class="title-div" style="padding-left: 28%">-->
            <!--<h1 class="title-huge font-yellow font-shadow">what</h1>-->
            <!--</div>-->
            <!--<div class="trapezoid-yellow"></div>-->
            <img src="imgs/home/scene_three/what.png" style="width: 100%; margin-bottom: -0.8em">
        </div>
        <div class="background background-yellow"></div>
    </div>
</section>


</body>
<script type="text/javascript" src="js/home/skrollr.js"></script>
<script>
    var s = skrollr.init();
</script>
</html>