html {
    font-size: 18px;
    max-width: 1280px;
    max-height: 800px;
    /*font-size: 90%;*/
}

body {
    padding: 0em;
    margin: 0em;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.0em;
}


/*******************************/
/*      header   section       */
/*******************************/


/*
 *  General
 */


/*.full-screen {*/
    /*width: 100%;*/
/*}*/

/*.header-background-pic {*/
    /*width: 100%;*/
    /*background-image: url('/imgs/home/index/mainpic_clear2.png');*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*overflow: hidden;*/
/*}*/

.scene-default {
    position: fixed;
    top: 95%;
    left: 0em;
    width: 100%;
}

/*******************************/
/*      about us section       */
/*******************************/


.background {
    position: fixed;
    width: 100%;
    height: 120%;
}

.background-red {
    background-color: rgba(192, 23, 51, 1);
}

.background-orange {
    background-color: rgba(242, 148, 26, 1);
}

.background-yellow {
    background-color: rgba(255, 223, 34, 1);
}

.background-black {
    background-color: rgba(22, 22, 22, 1);
}

.background-white {
    background-color: rgba(255, 255, 255, 1);
}

/*
 *  For why, how, what
 */

.title-huge {
    font-size: 5.5em;
}

.title-div {
    padding-left: 35%;
    margin-bottom: -5.25em;
}

.title-width {
    width: 20%;
}

.title-left {
    margin: 0 24%;
}

.title-center {
    margin: 0 41%;
}

.title-right {
    margin: 0 57%;
}

.font-red {
    color: rgb(192, 23, 51);
}

.font-orange {
    color: rgb(242, 148, 26);
}

.font-yellow {
    color: rgb(255, 223, 34);
}

.font-shadow {
    text-shadow: 0em 0.001em 0.05em black;
}

/*
 *  Trapezoid
 */

.trapezoid-red {
    height: 0;
    width: 100%;

    border-left:2em solid transparent;
    border-right:2em solid transparent;
    border-bottom:3.5em solid rgb(192, 23, 51);
}
.trapezoid-orange {
    height: 0;
    width: 100%;

    border-left:2em solid transparent;
    border-right:2em solid transparent;
    border-bottom:3.5em solid rgb(242, 148, 26);
}
.trapezoid-yellow {
    height: 0;
    width: 100%;

    border-left:2em solid transparent;
    border-right:2em solid transparent;
    border-bottom:3.5em solid rgb(255, 223, 34);
}

/*******************************/
/*          General            */
/*******************************/

/*
 *  Layout Setting
 */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}


/*
 *  width
 */

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

/*
 *  Margin
 */

.margin-top {
    margin-top: 5em;
}

.margin-left {
    margin-left: 5em;
}

.margin-bottom {
    margin-bottom: 5em;
}

.margin-right {
    margin-right: 5em;
}

.margin-all {
    margin: 5em;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}