html,
body {
    height: 100%;
    margin: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Megalopolis;
    src: url('/fonts/Megalopolis.tff')
}

#panels {
    width: 1280px;
    display: flex;
    position: relative;
    margin: 0 auto 0 auto;
}

.panels {
    min-height: 460px;
    height: 100%;
	font-size: 0;
}

.panel {
    display: inline-block;
    position: relative;
    width: 320px;
	height: 100%;
    z-index: 2;
	padding-bottom: 0;
    -webkit-transition: background-color .3s ease-in-out .05s, margin 0 linear .3s, -webkit-transform .3s, top .3s, opacity .3s;
    transition: background-color .3s ease-in-out .05s, margin 0s linear .3s, transform .3s, top .3s, opacity .3s;
}

.panel:hover > .color {
    z-index: 3;
}

.panel:hover > .content {
    z-index: 4;
}

.panel a {
    position: relative;
}

.color {
    background-color: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transition: background-color .3s ease-in-out .05s, margin 0 linear .3s, -webkit-transform .3s, top .3s, opacity .3s;
    transition: background-color .3s ease-in-out .05s, margin 0s linear .3s, transform .3s, top .3s, opacity .3s;
    width: 320px;
    z-index: 1
}

.content {
    font-family: Megalopolis;
    font-size: 90px;
    color: black;
    height: auto;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: opacity .45s;
    transition: opacity .45s;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.dark-orange .content {
    top: 250px;
}

.yellow .content {
    top: 250px;
}

.light-orange .content {
    top: 200px;
}

.red .content {
    top: 250px;
}

.footer {
    background-color: rgba(0, 0, 0, .23);
    bottom: 10px;
    height: 81px;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s
}

.dark-orange,
.dark-orange .color {
    background-color: #F0632D;
}

.yellow,
.yellow .color {
    background-color: #F3C349;
}

.light-orange,
.light-orange .color {
    background-color: #F6923A;
}

.red,
.red .color {
    background-color: #C41235;
}

.hover .dark-orange,
.hover .dark-orange .color {
    background-color: #732D13;
}

.hover .dark-orange:hover,
.hover .dark-orange:hover .color {
    background-color: #F0632D;
}

.hover .yellow,
.hover .yellow .color {
    background-color: #896C23;
}

.hover .yellow:hover,
.hover .yellow:hover .color {
    background-color: #F3C349;
}

.hover .light-orange,
.hover .light-orange .color {
    background-color: #7E491A;
}

.hover .light-orange:hover,
.hover .light-orange:hover .color {
    background-color: #F6923A;
}

.hover .red,
.hover .red .color {
    background-color: #64081A;
}

.hover .red:hover,
.hover .red:hover .color {
    background-color: #C41235;
}

.hover .panel.shrink-right .color {
    -webkit-transform: scaleX(.92188)translate3d(12.5px, 0, 0);
    transform: scaleX(.92188)translate3d(12.5px, 0, 0)
}

.hover .panel.shrink-left .color {
    -webkit-transform: scaleX(.92188)translate3d(-12.5px, 0, 0);
    transform: scaleX(.92188)translate3d(-12.5px, 0, 0)
}

.hover .panel.expand .color {
    -webkit-transform: scaleX(1.15625)translate3d(0, 0, 0);
    transform: scaleX(1.15625)translate3d(0, 0, 0)
}
