html,
body {
	position: relative;
    padding: 0;
    margin: 0;
}

body {
	background-image: url(../../imgs/community/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
}

@font-face {
	font-family: 'BebasNeue';
	src: url(../../fonts/BebasNeue-webfont.woff) format('woff');
}

.section-about {
	height: 100vh;
	width: 100%;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	position: relative;
}

.section-about-div {
	height: 400px;
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -240px;
	margin-left: -400px;
}

.section-about div p {
	font-size: 20px;
}

.section-about div p span {
	font-size: 30px;
	color: #BF1920;
}

#p2 {
	margin-bottom: 60px;
}

#p3 {
	margin-left: 60px;
}

#p4 {
	margin-bottom: 60px;
	margin-left: 120px;
}

#p6 {
	margin-left: 60px;
}

#p7 {
	margin-left: 120px;
}

.a-more img {
	width: 100px;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
}

.section-main {
	height: 100vh;
	width: 100%;
	padding-top: 5px;
	position: relative;
}

.frameset {
	/*width: 75%;*/
    width: 960px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0.3em;
    text-align: center;
	position: relative;
}

.frame {
	width: 40%;
	/*height: 400px;*/
	margin: 60px 0;
	display: inline-block;
}

.frame .frame-outer {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.frame-left {
	margin-right: 70px;
}

.frame-left .frame-outer {
	background-image: url(../../imgs/community/workshopno.png);
}

.frame-left .frame-outer:hover {
	background-image: url(../../imgs/community/workshopcolor.png);
}

.frame-right .frame-outer {
	background-image: url(../../imgs/community/meetupno.png);
}

.frame-right .frame-outer:hover {
	background-image: url(../../imgs/community/meetupcolor.png);
}

.frame .frame-inner {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	display: none;
	table-layout: fixed;
}

.frame-left .frame-inner {
	background-image: url(../../imgs/community/workshopinner.png);
}

.frame-right .frame-inner {
	background-image: url(../../imgs/community/meetupinner.png);
}

.frame-inner div {
	display: table-cell;
	padding: 0 2em;
	vertical-align: middle;
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: sans-serif;
}

.timeline-group {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 110px;
}

.timeline {
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 3px;
	z-index: -1;
	background-image: url(../../imgs/community/timeline.svg);
	-webkit-background-size: cover;
	background-size: cover;
}

.timeline-tag-today {
	width: 60px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	cursor: move;
}

.timeline-tag {
	width: 20px;
	height: 41px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}

.timeline-tag img {
	width: 130px;
	;
	height: auto;
	margin-top: -100px;
	margin-left: -53px;
	display: none;
}

.timeline-tag:hover > img {
	display: block;
}

#tag-2 {
	left: 530px;
	background: #F29417;
}

.month-tag {
	color: #BDB9B0;
	font-family: 'BebasNeue';
	font-size: 40px;
}

.month-tag > div {
	position: absolute;
	top: 25px;
}

.month-tag div div {
	margin-top: -1px;
	margin-left: 5px;
	height: 35px;
	width: 5px;
	background: #fff;
}

#month-1 {
	left: 270px;
}

#month-2 {
	left: 460px;
}

#month-3 {
	left: 660px;
}

.span-date {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 16px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	background: #F29417;
	color: aliceblue;
	margin: 5px 0;
	position: relative;
}

.span-date div {
	text-align: center;
	margin-top: 12px;
}

.span-date span {
	font-size: 22px;
	margin-top: -46px;
	margin-left: 24px;
	width: 260px;
	color: #000;
}

.activity {
	/*width: 900px;*/
	/*height: 660px;*/
    width: 100%;
    height: 100vh;
	position: absolute;
	bottom: -700px;
	left: 0;
	/*margin-left: -450px;*/
	font-family: 'BebasNeue';
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: none;
}

.activity > span {
	color: #fff;
	font-size: 100px;
	margin-left: 40px;
	line-height: 1.5em;
}

.activity aside {
	background: rgba(195, 195, 196, 0.5);
	width: 250px;
	/*height: 400px;*/
	/*position: absolute;*/
	/*left: 40px;*/
	/*top: 140px;*/
    margin-left: 40px;
	padding-top: 20px;
    padding-bottom: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.activity aside>div {
    text-align: center;
	margin-bottom: 10px;
}

.activity aside span {
	font-size: 23px;
	/*margin-left: 30px;*/
	line-height: 1.5em;
}

.activity aside span b {
	font-size: 1.65em;
}

.activity aside span b:after {
	content: " ";
}

.activity article {
	position: absolute;
	top: 140px;
	left: 400px;
	width: 750px;
	/*height: 400px;*/
}

.activity article > span {
	font-size: 40px;
	color: #fff;
    margin-left: -50px;
}

.activity article section h2 {
	margin: 10px 0 10px 30px;
	font-size: 25px;
	font-weight: normal;
}

.activity article section div {
	position: absolute;
	left: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 25px;
	border-color: transparent transparent transparent #ffee00;
}

.activity article section p {
	font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.4;
    padding-left: 34px;
}

.activity#workshop {
	/*background: #c94b52;*/
    background-color: rgba(201, 75, 82, 0.95);
}

.activity#meetup {
	background-color: rgba(255, 146, 0, 0.95);
}

.cross {
	width: 50px;
	height: 50px;
	background: #ff9200;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.cross div {
	margin-top: -9px;
	margin-left: 13px;
	font-family: sans-serif;
	font-size: 50px;
	color: #fff;
}
