<!DOCTYPE HTML>
<html lang=zh-tw>
	<head>
		<meta charset=utf-8>
		<title>About Us</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="generator" content="Editplus ">
		<meta name="author" content="">
		<meta name="robots" content="">
		<meta name="copyright" content=""> 
		<link rel="stylesheet" type="text/css" href="css/aboutus/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js"></script>
		<script type="text/javascript" src="js/course/angular-animate.js"></script>
	</head>
	<body>
		<% include ../shared/navbar.ejs %>
		<div class="frame">
			<div class="circleCenter"></div>
			<div class="secondLayer">
				<div class="circleFirstChildLeft" id="circleFirstChildLeft"> 
					<div class="thirdChild-1"></div>	
					<div class="thirdChild-2"></div>	
					<div class="thirdChild-3"></div>	
					<div class="thirdChild-4"></div>	
					<div class="thirdChild-5"></div>	
				</div>
				<div class="circleFirstChildRight">
					<div class="thirdChild-1"></div>	
					<div class="thirdChild-2"></div>	
					<div class="thirdChild-3"></div>
					<div class="thirdChild-4"></div>
				</div>
			</div>
		</div>

<!-- 		<svg class="canvas">
			<line x1="50%" y1="30%" x2="65%" y2="55%" stroke="black" stroke-width="5px"></line>
		</svg> -->

	</body>
</html>