<html>
<head>
    <title></title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <!-- Course2 Style -->
    <link rel="stylesheet" href="/css/course/course2.css">
</head>

<body>
</body>

<!-- ReactJS-->
<script type="text/javascript" src="/libs/reactjs/react.js"></script>
<script type="text/javascript" src="/libs/reactjs/JSXTransformer.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/libs/jquery-2.1.3.min.js"></script>
<!-- Course -->
<script type="text/jsx" src="/js/course/course2.js"></script>

</html>