<html>
<head>
    <title>HackCourse</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Course2 Style -->
    <link rel="stylesheet" href="/css/course/course2.css">
</head>

<body>

<div id="course-navbar">
    <% include ../shared/navbar.ejs %>
</div>

<div id="course-main"></div>


</body>

<!-- ReactJS-->
<script type="text/javascript" src="/libs/reactjs/react.js"></script>
<!--<script type="text/javascript" src="/libs/reactjs/JSXTransformer.js"></script>-->
<!-- jQuery -->
<script type="text/javascript" src="/libs/jquery-2.1.3.min.js"></script>
<!-- Course -->
<script type="text/javascript" src="/js/course/build/course2.js"></script>

</html>
