<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>HackCourse</title>
	
	<link rel="stylesheet" type="text/css" href="css/course/course.css">
	<link rel="stylesheet" href="css/shared/navbar/navbar_style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<div style="position: fixed; top: 0; left: 0; margin-top: 0; z-index: 999; background-color: white; width: 100%; ">
		<% include ../shared/navbar.ejs %>
	</div>
	<div id="panels" class="panels">
		<a href="" class="panel dark-orange">
			<div class="content"><span>ROR</span></div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a href="" class="panel yellow">
			<div class="content">IOS</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a href="" class="panel light-orange">
			<div class="content">UI<br>UX</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a href="" class="panel red">
			<div class="content">IOT</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<div class="panels-black"></div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/course/course.js"></script>
</body>
</html>
