<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>HackCourse</title>
	
	<link rel="stylesheet" type="text/css" href="css/course/course.css">
	<link rel="stylesheet" href="css/shared/navbar/navbar_style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="position: fixed; top: 0; left: 0; margin-top: 0; z-index: 999; background-color: white; width: 100%;" >
		<% include ../shared/navbar.ejs %>
	</div>
	<div id="panels" class="panels">
		<a class="panel dark-orange">
			<div class="content"><span>ROR</span></div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a class="panel yellow">
			<div class="content">IOS</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a class="panel light-orange">
			<div class="content">UI<br>UX</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<a class="panel red">
			<div class="content">IOT</div>
			<div class="color">
				<div class="footer"></div>
			</div>
		</a>

		<div class="panels-black"></div>
	</div>
	
	<div class="syllabus">
		<div class="section-title">SYLLABUS</div>

		<table id="RoR">
			<thead>
				<tr>
					<th width="100">Date</th>
					<th width="200">Title</th>
					<th width="400">Description</th>
					<th width="200">Link</th>
					<th width="200">Homework</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>02/27</td>
					<td>HTML, CSS</td>
					<td>HTML tags, syntax, document structure. CSS basics.</td>
					<td><a href="">Webdev - HTML</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
				<tr>
					<td>03/16</td>
					<td>HTML, CSS</td>
					<td>ASDASDADA</td>
					<td><a href="">HAHAHA</a></td>
					<td>KKK</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/course/course.js"></script>
</body>
</html>
