@font-face {
    font-family: Montserrat-Light;
    src: url('/fonts/Montserrat-Light.otf');
}

nav {
    width: 100%;
    height: 6%;
    background-color: white;
    padding: 0.5em;
    font-size: 18px;
    z-index: 999;
}

nav div {
    text-align: center;
}

nav i {
    cursor: pointer;
    cursor: hand;
}

#youtube-div {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    /*opacity: 0;*/
    width: 0;
    height: 0;

    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -ms-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

#youtube-div.show {
    background: rgba(0, 0, 0, 0.85);
    /*opacity: 0.7;*/
    width: 100%;
    height: 100%;
    text-align: center;

}

#youtube-div iframe {
    display: none;
}

#youtube-div.show iframe {
    display: block;
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
    /*margin-top: 12.5%;*/
}

#youtube-div.show i {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2em;
    color: lightgray;

    -webkit-transition: color 0.6s ease-in-out;
    -moz-transition: color 0.6s ease-in-out;
    -ms-transition: color 0.6s ease-in-out;
    -o-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
}

#youtube-div.show i:hover {
    color: white;
    cursor: pointer;
    cursor: hand;
}



.navbar-logo {
    width: 25%;
}

.navbar-page {
    width: 50%;
}

.navbar-page>a {
    font-family: Montserrat-Light;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

.navbar-link {
    width: 25%;
}

.navbar-link>a {
    margin: 0 0.3em;
}

.nav-table {
    display: table;
}

.nav-table-row {
    display: table-row;
}

.nav-table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.nav-shadow {
    -moz-box-shadow: 0px 5px 5px -5px rgba(20%,20%,40%,0.7);
    -webkit-box-shadow: 0px 5px 5px -5px rgba(20%,20%,40%,0.7);
    box-shadow: 0px 5px 5px -5px rgba(20%,20%,40%,0.7);
}

@media only screen and (max-width: 956px) {
    nav {
       font-size: 14px;
    }
}

@media only screen and (max-width: 744px) {
    nav {
        font-size: 12px;
    }
}

@media only screen and (max-width: 638px) {
    #youtube-div.show iframe {
        width: 100%;
        height: 60%;
        margin: 0;
    }
}