@font-face {
    font-family: SourceCodePro;
    src: url('/fonts/SourceCodePro-Regular.ttf');
}

nav {
    width: 100%;
    height: 6%;
    background-color: white;
    padding: 0.5em;
}

nav div {
    text-align: center;
}

.navbar-logo {
    width: 25%;
}

.navbar-page {
    width: 50%;
}

.navbar-page>a {
    font-family: SourceCodePro;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

.navbar-link {
    width: 25%;
}

.navbar-link>a {
    margin: 0 0.3em;
}

.nav-table {
    display: table;
}

.nav-table-row {
    display: table-row;
}

.nav-table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.nav-shadow {
    -moz-box-shadow: 0px 1px 5px rgba(20%,20%,40%,0.7);
    -webkit-box-shadow: 0px 1px 5px rgba(20%,20%,40%,0.7);
    box-shadow: 0px 1px 5px rgba(20%,20%,40%,0.7);
}